/* navbar style goes here*/

* {
    font-family: 'Montserrat', sans-serif;
    /*-moz-osx-font-smoothing: grayscale;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
    font-weight: 300;
}

body {
    background: linear-gradient(0deg, #F6F6F9 0%, #FFFFFF 100%);
}

a {
    cursor: pointer;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}

input[type=text],
input[type=password] {
    box-sizing : border-box;
}

ul {
    list-style: none;
}


.hide-page-overflow {
    overflow: hidden;
    position: relative;
    height: 100%;
}



.primary-button {
    padding: 20px;
    background: -webkit-linear-gradient(90deg, #6CB7FF 0%, #7985FF 100%);
    background: -moz-linear-gradient(90deg, #6CB7FF 0%, #7985FF 100%);
    background: -o-linear-gradient(90deg, #6CB7FF 0%, #7985FF 100%);
    background: linear-gradient(90deg, #6CB7FF 0%, #7985FF 100%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    box-shadow: 0 15px 9px -10px rgba(121,133,255,0.5);
    -webkit-transition: transform .2s ease-in-out;
    -moz-transition: transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    display: inline-block;
    cursor: pointer;
}

.full-width-primary-button {
    width: 100%;
    border: none;
    cursor: pointer;
}

.primary-button:hover {
    -webkit-transform: scale(1.05);
    -moz-transform:    scale(1.05);
    -ms-transform:     scale(1.05);
    -o-transform:      scale(1.05);
    transform:         scale(1.05);
    background: -webkit-linear-gradient(90deg, #6E7BFF 0%, #6E7BFF 100%);
    background: -moz-linear-gradient(90deg, #6E7BFF 0%, #6E7BFF 100%);
    background: -o-linear-gradient(90deg, #6E7BFF 0%, #6E7BFF 100%);
    background: linear-gradient(90deg, #6E7BFF 0%, #6E7BFF 100%);
    box-shadow: 0 15px 15px -10px rgba(121,133,255,0.5);
}

#navbar {
    background-color: #ffffff;
    width: 100%;
    height: 110px;
    color: #636185;
    display: block;
    position: relative;
}

#subscribe-navbar {
    height: 110px;
    overflow: auto;
}

.navbar-button-style {
    font-size: 14px;
    font-weight: 300;
    margin-left: 40px;
    display: inline-block;
    line-height: 110px;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

.navbar-button-style:hover {
    font-weight: 400;
    color: #000000;
    cursor: pointer;
}

.main-title {
    color: #242246;
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
}

.secondary-title {
    font-size: 26px;
    font-weight: bold;
    /*line-height: 35px;*/
    color: #242246;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    line-height: 50px;
}

.secondary-title-disabled {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #9B9AA9;
    text-align: left;
    line-height: 35px;
    font-family: 'Lato', sans-serif;
}

.primary-text {
    font-size: 18px;
    line-height: 33px;
    margin-top: 30px;
    font-weight: 300;
}

.secondary-text {
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    font-weight: 300;
}

.secondary-text-disabled {
    font-size: 14px;
    line-height: 28px;
    color: #9B9AA9;
}

.link {
    color: #7985FF;
    text-decoration: underline;
}

.subscribe-navbar-logo {
    width: 160px;
    margin: 25px 0 30px 30px;
}

#scrumbs-logo {
    width: 160px;
    margin: 25px 0 30px 30px;
    float: left;
    display: inline-block;
}

.navbar-logo {
    width: 160px;
}

#downloads-btn {
    display: inline-block;
}

#sign-in-btn {
    display: inline-block;
}

#authentication-container {
    width: 380px;
    height: 110px;
    display: inline-block;
    float: right;
}

#get-started-btn-navbar {
    float: right;
    margin-right: 33px;
    margin-top: 28px;
    color: #ffffff;
}

.hamburger-icon {
    position: absolute;
    top: 43px;
    right: 30px;
    display: none;
    width: 25px;
}

#above-the-fold {
    margin: auto;
    height: auto;
    padding-top: 135px;
    padding-left: 60px;
    overflow: auto;
    width: 100%;
    box-sizing: border-box;
    color: #636185;
}

#get-started-btn-above-the-fold {
    margin-top: 30px;
    margin-left: 5px;
}

.left-container {
    width: 50%;
    height: auto;
    display: inline-block;
    float: left;
    box-sizing: border-box;
}

#sign-in-option {
    margin-top: 20px;
    text-align: left;
}

.right-container {
    width: 50%;
    height: auto;
    display: inline-block;
    float: right;
}

.cover-image {
    background: url("../images/illustration.png") no-repeat top left;
    transform: translateY(-130px);
    height: 600px;
}

#features {
    max-width: 1366px;
    margin: auto;
    height: auto;
    padding: 0 40px 100px 40px;
    overflow: hidden;
    justify-content: space-between;
    color: #636185;
}

.feature-card {
    width: 23%;
    height: 350px;
    background-color: #ffffff;
    float: left;
    margin: 0 1%;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 5px;
    transition: box-shadow 0.5s ease-in-out;
}

.feature-card:hover {
    box-shadow: 0 15px 30px -10px rgba(121, 133, 255, 0.2);
}

.feature-card-icon {
    display: block;
    margin: 0 auto 50px auto;
}

.card-description {
    width: 80%;
    margin: auto;
}

.description-background {
    width: 100%;
    background-color: grey;
}

#section-1 {
    width: 100%;
    height: 730px;
    overflow: auto;
    margin: auto;
    color: #636185;
}

.left-ui {
    background: url("../images/left-ui.svg") no-repeat right;
    height: 650px;
}

.right-description {
    padding: 90px 60px 0 40px;
    box-sizing: border-box;
    max-width: 50%;
    float: left;
}

#section-2 {
    width: 100%;
    height: auto;
    overflow: hidden;
    color: #636185;
}

.left-description {
    padding-top: 90px;
    padding-left: 60px;
    box-sizing: border-box;
}

.download-btn-container {
    margin-top: 50px;
}

.download-btn {
    width: 235px;
    padding: 20px 0;
    background-color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0 15px 9px -10px rgba(121,133,255,0.2);
    font-size: 10px;
    letter-spacing: 1.5px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: inline-block;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.download-btn:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.download-btn-disabled {
    width: 235px;
    padding: 20px 0;
    background-color: #EAEBF1;
    text-transform: uppercase;
    text-align: center;
    color: #636185;
    font-size: 10px;
    letter-spacing: 1.5px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: inline-block;
    font-weight: bold;
    border-radius: 5px;
}

.btn-logo {
    margin-bottom: 5px;
}

.right-ui {
    background: url("../images/right-ui.svg") no-repeat left;
    height: 840px;
}

#footer {
    width: 100%;
    height: auto;
    color: #ffffff;
    display: inline-block;
}

.top-footer {
    padding: 130px 0;
    background: linear-gradient(90deg, #6CB7FF 0%, #7985FF 100%);
    text-align: center;
}

.footer-logo {
    margin-bottom: 45px;
}

#footer-description {
    margin: 0 auto 50px auto;
    width: 520px;
    color: #ffffff;
}

.secondary-btn {
    padding: 20px 30px;
    background-color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0 15px 9px -10px rgba(121,133,255,0.3);
    font-size: 14px;
    display: inline-block;
    font-weight: bold;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    color: #636185;
    transition: all .2s ease-in-out;
}

.secondary-btn:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.info-text {
    font-size: 12px;
    margin-top: 10px;
    opacity: 0.7;
    color: #ffffff;
}

.footer-description {
    color: #ffffff;
}

.bottom-footer {
    height: 120px;
    line-height: 120px;
    padding: 0 120px;
    text-align: center;
    color: #9B9AA9;
    font-size: 14px;
    background-color: #ffffff;
}

.footer-navigation {
    display: inline-block;
    text-decoration: none;
    float: left;
}

.source-company {
    display: inline-block;
    position: relative;
    left: -100px;
}

.source-label {
    display: inline-block;
    margin-right: 15px;
    opacity: 0.7;
}

.social-media-buttons-container {
    display: inline-block;
    float: right;
    height: 100px;
}

.social-media-buttons-container img {
    margin-left: 50px;
}

.footer-menu-item {
display: inline-block;
margin-right: 50px;
opacity: 0.7;
transition: all .2s ease-in-out;
}

.footer-menu-item:hover {
    opacity: 1;
}

.boardme-logo {
    position: absolute;
    top: 50px;
    left: 90px;
    width: 100px;
}

.social-btn {
    width: 50px;
    height: 50px;
    background-color: #636185;
    display: inline-block;
    margin-top: 30px;
}

.linked-in-btn {
    transition: all .2s ease-in-out;
    background: url("../images/linked-in.svg") center no-repeat;
}

.linked-in-btn:hover {
    background: url("../images/linked-in-colored.svg") center no-repeat;
    cursor: pointer;
}

.twitter-btn {
    transition: all .2s ease-in-out;
     background: url("../images/twitter.svg") center no-repeat;
 }

.twitter-btn:hover {
    background: url("../images/twitter-colored.svg") center no-repeat;
    cursor: pointer;
}

.facebook-btn {
    transition: background-color .2s ease-in-out;
    background: url("../images/facebook.svg") center no-repeat;
}

.facebook-btn:hover {
    background: url("../images/facebook-colored.svg") center no-repeat;
    cursor: pointer;
}


/* subscribe page style ------------------------------------------ */

#subscribe-container {
    height: calc(100vh - 215px);
    min-height: 860px;
}

#subscribe-inner-container {
    max-width: 1366px;
    margin: auto;
}

.subscribe-headline-container {
    text-align: center;
    max-width: 650px;
    margin: auto;
}

.subscribe-description {
    margin-top: 15px;
    margin-bottom: 15px;
}

.subscription-title {
    margin-bottom: 30px;
}

.subscribe-form-container {
    background: url("../images/bg-shape.svg") center no-repeat;
    height: 650px;
    background-size: 971px;
}

.card-bg {
    width: 875px;
    height: auto;
    background-color: #ffffff;
    margin: auto;
    border-radius: 5px;
    -webkit-box-shadow: 0px 9px 15px 0px rgba(186,192,207,0.30);
    -moz-box-shadow: 0px 9px 15px 0px rgba(186,192,207,0.30);
    box-shadow: 0px 9px 15px 0px rgba(186,192,207,0.30);
    transform: translateY(25px);
    box-sizing: border-box;
    padding: 70px 30px 70px 30px;
}

.subscribe-for-alpha {
    max-width: 425px;
    height: auto;
    margin: auto;
}

.input-container {
    margin-bottom: 25px;
    display: inline-block;
    width: 100%;
}

.input-basic-style-icon {
    height: 60px;
    border: 1px solid #E1E0E9;
    border-radius: 5px;
    padding-left: 60px;
    box-sizing: border-box;
    font-size: 16px;
    color: #242246;
    width: 100%;
}

.input-basic-style-icon:focus {
    border: 1px solid #7985FF;
}

#subscriber-name {
    background: url("../images/user-icon.svg") 22px center no-repeat;
}

#subscriber-email {
    background: url("../images/email-icon.svg") 18px center no-repeat;
}

.subscribe-info {
    font-size: 12px;
    color: #9B9AA9;
    text-align: center;
    margin: 10px 0 35px 0;
    display: block;
    line-height: 22px;
}

.subscribe-form-button {
    margin-bottom: 20px;
}

.input-error-message {
    color: #D00262;
    font-size: 12px;
    margin-top: 10px;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.show-input-error {
    opacity: 1;
}

#subscribed-feedback {
    display: none;
}

#already-subscribed-feedback {
    display: none;
}

.subscription-feedback {
    max-width: 770px;
    margin: auto;
    text-align: center;
    height: calc(100vh - 215px);
    min-height: 860px;
    padding: 200px 60px 0 60px;
    box-sizing: border-box;
}

.go-home-button {
    margin: 40px auto 0 auto;
    display: block;
    max-width: 280px;
}

.subscription-title {
    margin-bottom: 30px;
}

/*unsubscribed page style --------------------------------------------------------------*/

#unsubscribed-container {
    max-width: 700px;
    height: auto;
    margin-top: 110px;
    padding: 50px 50px;
}

#unsubscribed-container .subscribe-navbar-logo {
    margin: 0 auto 40px auto;
    text-align: center;
    display: block;
}

#unsubscribed-container .button-container {
    text-align: center;
    float: none;
    margin-top: 40px;
}

#unsubscribed-container .button-container .primary-button {
    padding: 20px 80px;
}

.unsubscribe-footer {
    position: relative;
    line-height: normal;
    padding: 40px 20px 0 20px;
    text-align: center;
}

#unsubscribed-container .footer-navigation {
    float: none;
    color: #9B9AA9;
    font-size: 14px;
}

#unsubscribed-container .footer-menu-item {
    margin: 0 25px;
}

#unsubscribed-container .source-company {
    position: initial;
    display: block;
    margin-bottom: 50px;
    color: #9B9AA9;
    font-size: 14px;
}

#unsubscribed-container .boardme-logo {
    position: initial;
    margin-bottom: -10px;
}


/*terms ------------------------------------------------------------------------------*/

.terms-container {
    padding: 40px 50px;
    max-width: 1000px;
    background-color: #ffffff;
    margin: 0 auto 30px auto;
}

.terms-scrumbs-logo {
    width: 160px;
    margin-bottom: 40px;
}


/*mobile menu--------------------------------------------------------------------------*/

#mobile-menu {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 2;
    text-align: center;
    padding: 50px 0;
    box-sizing: border-box;
    background-image: linear-gradient(0deg, #F6F6F9 48%, #FFFFFF 100%);
    display: none;
    overflow-y: scroll;

}

#close-mobile-menu-btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 90px;
}

#mobile-navigation {
    margin-top: 60px;
}

.mobile-menu-item {
    margin-bottom: 75px;
    display: block;
}

.close-menu-btn {
    width: 25px;
    height: 25px;
}

.list-item-indent {
    padding-left: 15px;
}

.margin-top-30 {
    margin-top: 30px;
}


/*downloads------------------------------------------------------------------------*/

#downloads-container {
    margin: auto;
    max-width: 1030px;
}

#downloads-section {
    background: url(../images/downloads-bubble.svg) center 80px no-repeat;
    height: calc(100vh - 290px);
    min-height: 880px;
}

.downloads-headline {
    text-align: center;
    line-height: 50px;
    width: 600px;
    margin: 60px auto 0 auto;
}

#downloads-card {
    padding: 50px 30px 50px 50px;
    width: 100%;
    background-image: linear-gradient(90deg, #FFFFFF 0%, #F8F8FA 56%);
}

.app-thumbnail {
    display: inline-block;
}

.app-details {
    display: inline-block;
    margin-left: 40px;

}

.app-details .secondary-title {
    margin-bottom: 5px;
    text-align: left;
    line-height: 20px;
}

.app-details .secondary-text {
    margin-top: 0;
    text-align: left;
    color: #636185;
}

.device-type {
    height: auto;
    padding: 20px 0 20px 0;
}

#android-app {
    color: #9B9AA9;
}

.tertiary-button {
    text-transform: uppercase;
    font-size: 14px;
    color: #636185;
    padding: 20px 20px 20px 40px;
    text-align: right;
    border-radius: 5px;
    background: url("../images/download-icon-white.svg") 15px 3px no-repeat;
    transition: all ease-out 0.3s;
    cursor: pointer;
    line-height: 20px;
}

.tertiary-button-disabled {
    text-transform: uppercase;
    font-size: 14px;
    color: #9B9AA9;
    /*float: right;*/
    padding: 20px;
    text-align: right;
    border-radius: 5px;
    font-weight: bold;
    line-height: 20px;
}

.tertiary-button:hover {
    background: url("../images/download-icon.svg") 15px center no-repeat;
    font-weight: bold;
    background-color: #ffffff;
    box-shadow: 0 15px 15px -10px rgba(99,97,133,0.3);
}


.button-container {
    float: right;
}

.top-image {
    position: absolute;
    top: 100px;
    width: 90%;
    display: none;
    z-index: -1;
    left: 50%;
    transform: translate(-50%, 0);
}
.bottom-image {
    position: absolute;
    bottom: 20px;
    width: 90%;
    display: none;
    z-index: -1;
    left: 50%;
    transform: translate(-50%, 0);
}


/*404 error ------------------------------------------------------------------------*/

#error-main-container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, #F6F6F9 0%, #FFFFFF 100%);
    padding-top: 80px;
}

#logo-container {
    text-align: center;
    width: 100%;
    margin: 0 auto 80px auto;
}

#error-main-container #logo-container {
    display: block;
    margin: auto auto 85px;
}


.error-container {
    max-width: 610px;
    text-align: center;
    height: 410px;
    margin: auto;
    background: url("../images/downloads-bubble.svg") no-repeat center;
    background-size: 100%;
}

.error-card {
    max-width: 570px;
}

.scrumbs-logo {
    width: 160px;
}

.error-type-style {
    color: #D3D5E6;
    font-size: 180px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.error-message {
    font-size: 20px;
    font-weight: 700;
    color: #636185;
}

#error-footer {
    margin: auto;
}


#error-footer > .secondary-text {
    max-width: 430px;
    padding-top: 30px;
    margin: auto;
}

#error-footer > .button-container {
    float: none;
    display: block;
    text-align: center;
    margin-top: 50px;
    color: #9B9AA9;
}

#error-footer > .secondary-btn {
    color: #9B9AA9;

}



@media only screen and (min-width: 1366px) {

    #above-the-fold {
        max-width: 1306px;
        padding-left: 0;
    }

    .cover-image {
        position: absolute;
    }

    #features {
        padding: 140px 60px 190px 60px;
    }

    #section-1 {
        max-width: 1366px;
    }

    .left-ui {
        position: absolute;
        background: url("../images/left-ui.svg") no-repeat left;
        background-size: 700px;
    }

    .right-description {
        float: right;
        padding-left: 150px;
        padding-right: 0;
    }

    #section-2 {
        max-width: 1366px;
        margin: auto;
        height: 875px;
    }

    .right-ui {
        position: absolute;
        background-size: 700px;
    }


}


/*Contact page*/

.contact-container {
    background: url("../images/downloads-bubble.svg") no-repeat center;
    padding: 50px 30px 100px;
    /*display: none;*/
}

.contact-body {
    max-width: 910px;
    border-radius: 5px;
    box-shadow: 0 2px 15px 0 rgba(221,220,234,0.7);
    background-color: #ffffff;
    margin: auto;
    padding: 50px 30px 100px;

}

.contact-body .input-container {
    margin-bottom: 15px;
}

.contact-body .primary-text {
    text-align: center;
}

.contact-form {
    max-width: 335px;
    margin: 35px auto 0;
}

.input-basic {
    height: 50px;
    border: 1px solid #e1e0e9;
    border-radius: 5px;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 16px;
    color: #242246;
    width: 100%;
    transition: border 0.3s ease-in-out;
}

.input-basic:hover, .input-basic:focus, .input-textarea:hover, .input-textarea:focus {
    border: 1px solid #6E7BFF;
}

.input-textarea {
    height: 175px;
    border: 1px solid #e1e0e9;
    border-radius: 5px;
    padding: 15px 15px;
    box-sizing: border-box;
    font-size: 16px;
    color: #242246;
    width: 100%;
    transition: border 0.3s ease-in-out;
    max-width: 335px;
}

.input-error-message {
    opacity: 0;
}

#contact-name-input-error, #contact-email-input-error, #contact-message-input-error {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}


/*Email sent feedback*/

#email-sent-feedback-success {
    height: calc(100vh - 230px);
    padding: 0 30px;
    display: none;
}

.email-sent-feedback-success {
    max-width: 645px;
    margin: auto;
    text-align: center;
    padding-top: 10vh;

}

#email-sent-feedback-error {
    height: calc(100vh - 230px);
    padding: 0 30px;
    display: none;
}

.email-sent-feedback-error {
    max-width: 645px;
    margin: auto;
    text-align: center;
    padding-top: 10vh;


}





@media only screen and (max-width: 1130px) {

    .download-btn {
        width: 44%;
    }

    .download-btn-disabled {
        width: 44%;
    }

    #footer-description {
        width: 520px;
    }

    #downloads-container {
        padding: 0 30px;
    }

}


@media only screen and (max-width: 950px) {

    #above-the-fold {
        padding-left: 40px;
        padding-top: 50px;
    }

    .cover-image {
        transform: translateY(-45px);
    }

    #features {
        padding: 50px 40px 50px 40px;
    }

    .feature-card {
        width: 48%;
        margin: 0 1% 15px;;
    }

    .left-description {
        padding-left: 40px;
    }

    .subscribe-form-container {
        padding: 0 30px;
    }

    #subscribe-form-inner-container {
        width: 100%;
    }

    .subscribe-headline-container {
        padding: 0 50px;
    }

    .subscribe-navbar-logo {
        display: block;
        margin: 25px auto 30px auto;
    }

    .bottom-footer {
        height: 190px;
        position: relative;
        line-height: normal;
        padding: 40px 20px 0 20px;
    }

    .bottom-footer-mobile-margin {
        margin-top: 40px;
    }

    .footer-navigation {
        float: none;
        display: block;
    }

    .footer-menu-item {
        margin: 0 30px;
    }

    .social-media-buttons-container {
        float: none;
    }

    .source-company {
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;
    }

    .boardme-logo {
        position: initial;
        margin: -7px;
    }

    .subscribe-for-alpha {
        width: 100%;
    }

    .subscription-title {
        margin-bottom: 15px;
    }
}


@media only screen and (max-width: 750px) {

    #navbar {
        background-color: #ffffff;
        width: 100%;
        padding: 15px 25px;
        height: auto;
        overflow: auto;
        box-sizing: border-box;
    }

    #scrumbs-logo {
        margin: 0;
    }

    .hamburger-icon {
        display: inline-block;
        top: 25px
    }

    #authentication-container {
        display: none;
    }

    #downloads-btn {
        display: none;
    }

    #sign-in-option {
        text-align: center;
    }

    #above-the-fold {
        padding-left: 0;
        padding-top: 30px;
        text-align: center;
    }

    .left-container {
        width: 100%;
        padding: 0 40px;
    }

    .right-container {
        width: 100%;
        position: relative;
        transform: translateY(0);
    }

    .cover-image {
        background: url("../images/illustration.png") no-repeat top center;
        margin-top: 70px;
        background-size: 700px;
        height: 440px;
    }

    .feature-card {
        width: 100%;
        margin: 0 0 20px 0;
    }

    #section-1 {
        text-align: center;
        position: relative;
        height: 860px;
    }

    .left-ui {
        background: url("../images/left-ui.svg") no-repeat center;
        background-size: 700px;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .right-description {
        max-width: 100%;
        padding-top: 0;
    }

    #section-2 {
        text-align: center;
    }

    .right-ui {
        background: url("../images/right-ui.svg") no-repeat center;
        background-size: 700px;
    }

    .top-footer {
    position: relative;
    line-height: normal;
    padding: 130px 40px;
    height: auto;
    }

    .footer-description {
        width: 100%;
    }

    #downloads-section {
        padding-bottom: 90px;
        background: initial;
        position: relative;
        height: auto;
    }

    .downloads-headline {
        width: 100%;
        padding: 0 60px;
        box-sizing: border-box;
    }

    #downloads-card {
        padding: 50px;
    }

    .app-thumbnail {
        height: 60px;
    }

    .app-thumbnail, .app-details{
        display: block;
        margin: auto;
    }

    .app-details .secondary-title, .secondary-title-disabled {
        text-align: center;
        /*margin-top: 50px;*/
        margin: 50px 0 20px 0;
        line-height: 35px;
    }

    .app-details .secondary-text {
        text-align: center;
    }

    .app-details .secondary-text-disabled {
        text-align: center;
    }

    .tertiary-button, .tertiary-button-disabled, #get-started-downloads {
        float: none;
        display: inline-block;
        margin: auto;
        text-align: center;
        margin-top: 20px;
    }

    .tertiary-button {
        background: url("../images/download-icon.svg") 15px center no-repeat;
        font-weight: bold;
        background-color: #ffffff;
        box-shadow: 0 15px 15px -10px rgba(99,97,133,0.3);
    }

    .button-container {
        text-align: center;
        float: none;
    }

    .top-image, .bottom-image {
        display: initial;
    }

    .contact-container {
        padding: 50px 30px 50px;
    }

    .contact-body {
        padding: 50px 30px 50px;
    }

}


@media only screen and (max-width: 650px) {


    #subscribe-form-inner-container {
        width: 100%;
    }

    .error-container {
        padding: 0 20px;
    }

    .error-card {
        width: 100%;
    }

}


@media only screen and (max-width: 600px) {

    #section-1 {
        height: 900px;
    }

    #footer-description {
        width: 100%;
    }

    .subscribe-form-container {
        background-size: 880px;
        height: 675px;
    }

    .subscribe-info {
        padding: 0 70px;
    }

}


@media only screen and (max-width: 500px) {

    .card-bg {
        padding: 30px 15px;
    }

    .subscribe-form-container {
        padding: 0 10px;
        height: 610px;
    }

    .download-btn {
        width: 80%;
    }

    .download-btn-disabled {
        width: 80%;
    }

    .subscription-feedback {
        padding: 40px 35px;
    }

    .error-container {
        background: url(../images/downloads-bubble.svg) no-repeat center 12px;
        background-size: 100%;
        height: 345px;
    }

    .error-card {
        padding: 60px 20px 60px 20px;
    }

    .error-type-style {
        font-size: 150px;
    }

    .top-image {
        top: 150px;
    }

}


@media only screen and (max-width: 450px) {

    #above-the-fold {
        padding-top: 15px;
    }

    .cover-image {
        background: url("../images/illustration_mobile.png") no-repeat center;
        background-size: 490px;
        margin-top: -35px;
    }

    .main-title {
        font-size: 26px;
        line-height: 36px;
    }

    .primary-text {
        font-size: 16px;
        line-height: 32px;
    }

    #features {
        padding: 0 20px 50px 20px;
    }

    #section-1 {
        height: 730px;
    }

    .right-description {
        padding: 0 40px;
    }

    .left-ui {
        background-size: 490px;
        height: 430px;
    }

    .right-ui {
        background-size: 460px;
        height: 550px;
    }

    #section-2 {
        margin-top: 50px;
    }

    .top-footer {
        padding: 80px 40px;
    }

    .bottom-footer {
        height: 230px;
    }

    .terms-footer {
        padding: 40px 20px 0 20px;
        height: 280px;
    }

    #footer-description {
        width: 100%;
    }

    .footer-menu-item {
        display: block;
        text-decoration: none;
        margin-bottom: 30px;
    }

    .terms-footer.source-company {
        bottom: 40px;
    }

    .info-text {
        margin-top: 20px;
    }

    .social-btn {
        margin-top: 0;
    }

    .subscribe-info {
        padding: 0 40px;
    }

    .subscription-feedback {
        margin-bottom: 30px;
        box-sizing: border-box;
        min-height: 300px;
        height: calc(100vh - 350px);
    }

    #downloads-container {
        padding: 0 15px;
    }

    .error-container {
        background: url(../images/downloads-bubble.svg) no-repeat center 20px;
        background-size: 100%;
    }

    #error-main-container {
        padding-top: 40px;
    }

    #logo-container {
        margin: 0 auto 20px auto;
    }

    #error-footer .secondary-text{
        padding: 10px;
    }

    .contact-container {
        padding: 50px 15px 50px;
    }

    .contact-body {
        padding: 50px 15px 50px;
    }

    .contact-form {
        max-width: 100%;
    }

    .input-textarea {
        max-width: 100%;
    }

}

@media only screen and (max-width: 400px) {

    .social-btn {
        margin-top: 0;
    }

    .subscription-feedback {
        min-height: 250px;
        height: calc(100vh - 280px);
        display: inline-block;
    }

    .terms-footer {
        height: 280px;
    }

    #error-footer {
        padding: 0;
    }

    .error-container {
        height: 290px;
    }

    .error-type-style {
        font-size: 100px;
    }

    .error-message {
        font-size: 16px;
    }

    #error-footer .secondary-text {
        padding: 0 20px 20px 20px;
    }

    #error-footer .button-container {
        margin-top: 0;
    }

    .downloads-headline {
        margin: 30px auto 0 auto;
        padding: 0 30px;
    }

    .downloads-headline > .secondary-title {
        line-height: 35px;
        font-size: 20px;
    }

    .top-image {
        top: 120px;
    }

}


@media only screen and (min-height: 1024px) {

    #mobile-menu {
        background-color: #636185;
    }

}

@media only screen and (max-height: 610px) {

    .mobile-menu-item {
        margin-bottom: 45px;
    }

}


@media only screen and (max-height: 505px) {

    #close-mobile-menu-btn {
        right: 50px;
        left: initial;
        position: fixed;
    }

}

@media only screen and (max-height: 480px) {

    #close-mobile-menu-btn {
        right: 25px;
        bottom: 25px;
        left: initial;
        position: fixed;
    }

}


/** Test for IOS */

@supports (-webkit-overflow-scrolling: touch) {

}











