<!doctype html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132661890-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-132661890-1');
    </script>

    <!--  Essential META Tags -->

    <meta property="og:title" content="Scrumbs">
    <meta property="og:description" content="Tracking your daily scrum meetings has never been easier.">
    <meta property="og:image" content="https://www.scrumbs.app/public/img/scrumbs-app-og-image.png">
    <meta property="og:url" content="https://app.scrumbs.app">
    <meta name="twitter:card" content="summary_large_image">


    <!--  Non-Essential, But Recommended -->

    <meta property="og:site_name" content="Scrumbs">
    <meta name="twitter:image:alt" content="Scrumbs, tool for scrum masters.">


    <!--  Non-Essential, But Required for Analytics -->

    <meta property="fb:app_id" content="scrumbsapp" />
    <meta name="twitter:site" content="@scrumbsapp">

    <title>{{ title }}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">


    <!--boardme Script-->
    <script type="text/javascript" src="http://localhost:3000/script/72141ac6-8b3b-4cff-aafd-de3f18scrumbs.js"></script>
    <!--<script type="text/javascript" src="https://www.boardme.app/script/72141ac6-8b3b-4cff-aafd-de3f18scrumbs.js"></script>-->

</head>
<body>

{{{ body }}}


</body>
</html>