<!doctype html>
<html lang="en">
<head>
    <title>{{ title }}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <!-- Simplebar plugin -->
    <link rel="stylesheet" href="../public/lib/plugins/simplebar/simplebar.css" />
    <script type="text/javascript" src="../public/lib/plugins/simplebar/simplebar.js"></script>

    <!--jQuery-->
    <script type="text/javascript" src="../public/lib/jquery.js"></script>

    <!--GSAP-->
    <script type="text/javascript" src="../public/lib/TweenLite.js"></script>
    <script type="text/javascript" src="../public/lib/plugins/CSSPlugin.js"></script>
    <script type="text/javascript" src="../public/lib/easing/EasePack.js"></script>

    <script type="text/javascript" src="../public/lib/gsap-module-support.js"></script>



</head>
<body>

{{{ body }}}



</body>
</html>