<!doctype html>
<html lang="en">
<head>

    <!--  Essential META Tags -->

    <meta property="og:title" content="Scrumbs">
    <meta property="og:description" content="Tracking your daily scrum meetings has never been easier.">
    <meta property="og:image" content="https://www.scrumbs.app/public/images/right-ui.svg">
    <meta property="og:url" content="https://www.scrumbs.app">
    <meta name="twitter:card" content="summary_large_image">


    <!--  Non-Essential, But Recommended -->

    <meta property="og:site_name" content="Scrumbs">
    <meta name="twitter:image:alt" content="Scrumbs, tool for scrum masters.">


    <!--  Non-Essential, But Required for Analytics -->

    <meta property="fb:app_id" content="scrumbsapp" />
    <meta name="twitter:site" content="@scrumbsapp">

    <title>{{ title }}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

</head>
<body>

{{{ body }}}


</body>
</html>