


<div id="scrum-teams" class="scrum-teams">

    <div class="scrum-teams-header clearfix">
        <h1 id="scrum-teams-title" class="bold noselect">Teams</h1>
        <button id="scrum-create-team-btn" class="scrum-create-team-btn noselect pointer bold"></button>
    </div>


    <ul id="scrum-teams-team-container" class="scrum-team-container">

        <!--<li class="scrum-team active">-->

            <!--<div class="scrum-team-header pointer">-->
                <!--<h2 class="scrum-team-name bold noselect">Scrum team</h2>-->
                <!--<button class="scrum-create-member-btn"></button>-->
            <!--</div>-->

            <!--<ul class="scrum-team-members">-->
                <!--<li class="scrum-team-member pointer noselect">Stephen Hodges</li>-->
                <!--<li class="scrum-team-member pointer noselect active">Lee Simon</li>-->
                <!--<li class="scrum-team-member pointer noselect">Victoria Terry</li>-->
                <!--<li class="scrum-team-member pointer noselect">Estelle Cruz</li>-->
                <!--<li class="scrum-team-member pointer noselect">Steve Cannon</li>-->
                <!--<li class="scrum-team-member pointer noselect">Gordon Hunt</li>-->
                <!--<li class="scrum-team-member pointer noselect">Charles Hughes</li>-->
                <!--<li class="scrum-team-member pointer noselect">Isabel Estrada</li>-->
            <!--</ul>-->

        <!--</li>-->

        <!--<li class="scrum-team">-->

            <!--<div class="scrum-team-header pointer">-->
                <!--<h2 class="scrum-team-name bold noselect">Echipa Racheta</h2>-->
                <!--<button class="scrum-create-member-btn"></button>-->
            <!--</div>-->

            <!--<ul class="scrum-team-members">-->
                <!--<li class="scrum-team-member pointer noselect">Stephen Hodges</li>-->
                <!--<li class="scrum-team-member pointer noselect">Lee Simon</li>-->
                <!--<li class="scrum-team-member pointer noselect">Victoria Terry</li>-->
                <!--<li class="scrum-team-member pointer noselect">Estelle Cruz</li>-->
                <!--<li class="scrum-team-member pointer noselect">Steve Cannon</li>-->
            <!--</ul>-->
    <!---->
        <!--</li>-->
            
    </ul>

    <div class="scrum-teams-footer">

        <button id="scrum-team-settings-btn" class="scrum-team-settings-btn noselect">Team Settings</button>

    </div>


</div>