


<div id="heading-container"></div>


<div id="content-wrapper">

    <div id="content-container"></div>

</div>

<!-- Simplebar plugin -->
<link rel="stylesheet" href="../public/lib/simplebar/simplebar.css" />
<script type="text/javascript" src="../public/lib/simplebar/simplebar.js"></script>


<!--GSAP-->
<script type="text/javascript" src="../public/lib/TweenLite.min.js"></script>
<script type="text/javascript" src="../public/lib/plugins/CSSPlugin.min.js"></script>
<script type="text/javascript" src="../public/lib/easing/EasePack.min.js"></script>


<!--BUILD-->
<script src="../public/js/resetPassword.js"></script>