


<div id="scrum-welcome-screen">

    <div class="scrum-welcome-screen-content">

        <div id="scrum-welcome-screen-profile-image" class="scrum-welcome-screen-profile-image">LS</div>

        <h2 id="scrum-welcome-screen-title" class="scrum-welcome-screen-title">Welcome Gigi Mafiot</h2>

        <p class="scrum-welcome-screen-description">Select a team member from the blue column and start typing your notes.</p>

        <div class="scrum-welcome-impediment-contaier">

            <p>Do you want to add an impediment?</p>

            <button id="scrum-welcome-screen-impediments-btn" class="primary-button">Go to impediments</button>

        </div>

    </div>

</div>