




<div id="mobile-menu">

    <div id="mobile-logo">
        <img class="navbar-logo" src="../public/images/scrumbs-logo-colored.svg">
    </div>

    <div id="mobile-navigation">

        <a class="mobile-menu-item" href="https://www.planeeet.com/contact/" target="_blank">Contact</a>
        <a class="mobile-menu-item" href="terms">Privacy & terms</a>
        <a class="mobile-menu-item" href="downloads">Downloads</a>

    </div>

    <a id="get-started-btn-mobile" class="primary-button" href="https://app.scrumbs.app">Get Started</a>


    <div id="close-mobile-menu-btn">

        <img class="close-menu-btn" src="../public/images/close-icon.svg">

    </div>

</div>