


<div id="account-settings-change-email-modal-bg" class="modal-bg">

    <p class="modal-title">Change your email address</p>

    <div id="account-settings-change-email-modal-exit-btn" class="exit-overlay-button"></div>

    <p class="basic-description">Your current email address is <span id="account-settings-user-current-email" class="bold"></span> </p>


    <div class="input-group">

        <label class="input-label" for="account-settings-change-email-modal-email-input">New email address</label>

        <input id="account-settings-change-email-modal-email-input" type="text" class="basic-input" spellcheck="false" placeholder="Type in your new email address">

        <p id="account-settings-change-email-modal-email-input-error-msg" class="error-message">Please type in your a valid email address.</p>

    </div>

    <div class="input-group">

        <label class="input-label" for="account-settings-change-email-modal-password-input">Current password</label>

        <input id="account-settings-change-email-modal-password-input" type="password" class="basic-input" spellcheck="false" placeholder="Type in your current password">

        <p id="account-settings-change-email-modal-password-input-error-msg" class="error-message">Please type in your current password.</p>

    </div>


    <div class="button-container">

        <div id="account-settings-change-email-modal-cancel-btn" class="secondary-button">Cancel</div>

        <div id="account-settings-change-email-modal-save-btn" class="primary-button">Save</div>


    </div>



</div>
