


<div id="account-settings-header-container" class="header-container">

    <p class="main-title">Account Settings</p>

    <div id="account-settings-exit-btn" class="exit-overlay-button"></div>

</div>

<div id="account-settings-body-container" class="account-settings-body-container">


    <div class="input-group">

        <label class="input-label" for="account-settings-name-input">Your Name</label>

        <input id="account-settings-name-input" type="text" class="basic-input" spellcheck="false" value="Andrei gaspar">

    </div>

    <div class="input-group">

        <label class="input-label" for="account-settings-email-input">Your Email</label>

        <input id="account-settings-email-input" type="text" class="basic-input disabled" spellcheck="false" value="andrei@email.com" disabled="disabled">

        <p id="account-settings-change-email-btn" class="link">Change</p>

    </div>

    <div class="input-group">

        <label class="input-label" for="account-settings-password-input">Your Password</label>

        <input id="account-settings-password-input" type="password" class="basic-input disabled" spellcheck="false" value="Andrei gaspar" disabled="disabled">

        <p id="account-settings-change-password-btn" class="link">Change</p>

    </div>

    <div class="account-settings-delete-account-container">

        <p id="account-settings-delete-account-btn" class="link">Delete Account</p>

        <p class="grey-text">Please note, that all the teams, notes and impedimenrs you have created will be permanently erased.</p>

    </div>


</div>


<div id="account-settings-change-email-modal" class="modal-overlay">

    <div class="modal-bg">

        <p class="modal-title">Change your email address</p>

        <div id="account-settings-change-email-modal-exit-btn" class="exit-overlay-button"></div>

        <p class="basic-description">Your current email address is <span id="account-settings-user-current-email" class="bold">brent@email.com</span> </p>


        <div class="input-group">

            <label class="input-label" for="account-settings-change-email-modal-email-input">New email address</label>

            <input id="account-settings-change-email-modal-email-input" type="text" class="basic-input" spellcheck="false" placeholder="Type in your new email address">

            <p id="account-settings-change-email-modal-email-input-error-msg" class="error-message">Please type in your new email address.</p>

        </div>

        <div class="input-group">

            <label class="input-label" for="account-settings-change-email-modal-password-input">Current password</label>

            <input id="account-settings-change-email-modal-password-input" type="text" class="basic-input" spellcheck="false" placeholder="Type in your current password">

            <p id="account-settings-change-email-modal-password-input-error-msg" class="error-message">Please type in your password.</p>

        </div>


        <div class="button-container">

            <div id="account-settings-change-email-modal-cancel-btn" class="secondary-button">Cancel</div>

            <div id="account-settings-change-email-modal-save-btn" class="primary-button">Save</div>


        </div>



    </div>

</div>


<div id="account-settings-change-password-modal" class="modal-overlay">

    <div class="modal-bg">

        <p class="modal-title">Change your password</p>

        <div id="account-settings-change-password-modal-exit-btn" class="exit-overlay-button"></div>

        <div class="input-group">

            <label class="input-label" for="account-settings-change-email-modal-email-input">New Password</label>

            <input id="account-settings-change-password-modal-new-password-input" type="text" class="basic-input" spellcheck="false" placeholder="Type in your new password">

            <p id="account-settings-change-password-modal-new-password-input-error-msg" class="error-message">Please type in your new password.</p>

        </div>

        <div class="input-group">

            <label class="input-label" for="account-settings-change-email-modal-password-input">Current password</label>

            <input id="account-settings-change-password-modal-current-password-input" type="text" class="basic-input" spellcheck="false" placeholder="Type in your current password">

            <p id="account-settings-change-password-modal-current-password-inputerror-msg" class="error-message">Please type in your current password.</p>

        </div>


        <div class="button-container">

            <div id="account-settings-change-password-modal-cancel-btn" class="secondary-button">Cancel</div>

            <div id="account-settings-change-password-modal-save-btn" class="primary-button">Save</div>


        </div>



    </div>

</div>


