


<div id="account-settings-change-password-modal-bg" class="modal-bg">

    <p class="modal-title">Change your password</p>

    <div id="account-settings-change-password-modal-exit-btn" class="exit-overlay-button"></div>

    <div class="input-group">

        <label class="input-label" for="account-settings-change-password-modal-new-password-input">New Password</label>

        <input id="account-settings-change-password-modal-new-password-input" type="password" class="basic-input" spellcheck="false" placeholder="Type in your new password">

        <p id="account-settings-change-password-modal-new-password-input-error-msg" class="error-message">Please type in your new password.</p>

    </div>

    <div class="input-group">

        <label class="input-label" for="account-settings-change-password-modal-current-password-input">Current password</label>

        <input id="account-settings-change-password-modal-current-password-input" type="password" class="basic-input" spellcheck="false" placeholder="Type in your current password">

        <p id="account-settings-change-password-modal-current-password-inputerror-msg" class="error-message">Please type in your current password.</p>

    </div>


    <div class="button-container">

        <div id="account-settings-change-password-modal-cancel-btn" class="secondary-button">Cancel</div>

        <div id="account-settings-change-password-modal-save-btn" class="primary-button">Save</div>


    </div>



</div>
