


<div id="account-settings-header-container" class="header-container">

    <p class="main-title">Account Settings</p>

    <div id="account-settings-exit-btn" class="exit-overlay-button"></div>

</div>

<div id="account-settings-body-container" class="account-settings-body-container">


    <div class="input-group">

        <label class="input-label" for="account-settings-name-input">Your Name</label>

        <input id="account-settings-name-input" type="text" class="basic-input" spellcheck="false" value="Andrei gaspar">

    </div>

    <div class="input-group">

        <label class="input-label" for="account-settings-email-input">Your Email</label>

        <input id="account-settings-email-input" type="text" class="basic-input disabled" spellcheck="false" value="andrei@email.com" disabled="disabled">

        <p id="account-settings-change-email-btn" class="link">Change</p>

    </div>

    <div class="input-group">

        <label class="input-label" for="account-settings-password-input">Your Password</label>

        <input id="account-settings-password-input" type="password" class="basic-input disabled" spellcheck="false" value="Andrei gaspar" disabled="disabled">

        <p id="account-settings-change-password-btn" class="link">Change</p>

    </div>

    <div class="account-settings-delete-account-container">

        <p id="account-settings-delete-account-btn" class="link">Delete Account</p>

        <p class="grey-text">Please note, that all the teams, notes and impedimenrs you have created will be permanently erased.</p>

    </div>


</div>
