

<div id="confirmation-modal-background">

    <div id="confirmation-modal">

        <div id="confirmation-modal-close-btn">
            <p>ESC</p>
        </div>

        <div id="confirmation-modal-icon"></div>

        <h1 id="confirmation-modal-title">Delete Member</h1>

        <div id="confirmation-modal-text-container">

            <p>Are you sure you want to delete <strong>Virgile Lewis</strong>?</p>
            <p>All the notes and impediments will be deleted, and the operation cannot be undone.</p>

        </div>

    </div>

    <div id="confirmation-modal-buttons-container">

        <button id="confirmation-modal-submit-btn">Yes, Delete Member</button>

        <button id="confirmation-modal-dismiss-btn">Cancel, Keep Member</button>

    </div>


</div>