

<div id="confirmation-modal-background">

    <div id="confirmation-modal">

        <div id="confirmation-modal-close-btn" class="exit-overlay-button"></div>

        <div id="confirmation-modal-icon"></div>

        <h1 id="confirmation-modal-title">Delete Member</h1>

        <div id="confirmation-modal-text-container"></div>

        <div id="confirmation-modal-buttons-container">

            <button id="confirmation-modal-submit-btn" class="primary-button">Yes, Delete Member</button>
    
            <button id="confirmation-modal-dismiss-btn" class="secondary-button">Cancel, Keep Member</button>
    
        </div>

    </div>

</div>