

<a id="logo" class="logo" href="/"></a>


<ul id="header-navigation">

    <li id="scrum-page-button" class="pointer noselect active">Scrum</li>
    <li id="impediments-page-button" class="pointer noselect">Impediments</li>
    <li id="reports-page-button" class="pointer noselect">Reports</li>

</ul>


<div id="header-profile-wrapper" class="pointer">

    <div id="profile-avatar" class="noselect">XX</div>

    <div id="profile-dropdown-button" class="noselect"></div>

    <div id="profile-notifications" class="noselect">

    </div>

    <div id="header-notifications-dropdown" class="profile-notification-empty-state">

        <img class="notification-empty-state-img" src="../style/img/notifications-empty-state.svg">

        <p class="main-title">Notifications</p>

        <p class="secondary-text">We’ll let you know when we get news for you.</p>

    </div>

    <div id="profile-inquiry" class="noselect">
        <div id="profile-inquiry-notification">
            <div class="profile-inquiry-dot"></div>
            <div class="profile-inquiry-circle"></div>
        </div>

        <div id="inquiry-tooltip-container" class="inquiry-tooltip-container">
            <span class="tooltip-corner"></span>
            <div class="tooltip-body">
                <p>Report a bug</p>
                <p class="small">or</p>
                <p>Request a feature</p>
            </div>
        </div>
    </div>

</div>

<div id="user-options-panel" class="options-list-bg">

    <div class="user-summary">

        <div id="profile-avatar-dropdown" class="profile-avatar">XX</div>

        <p id="profile-user-name-dropdown" class="profile-user-name">User's Name</p>

    </div>

    <a href="https://paypal.me/scrumbsapp" target="_blank" class="primary-button">Buy us a coffee</a>

    <div class="user-options-list">

        <div id="user-settings-btn" class="options-list-btn settings">Account Settings</div>

        <a href="/api/v1/authentication/log-out">
            <div id="user-log-out-btn" class="options-list-btn log-out">Log Out</div>
        </a>

    </div>

</div>


<div id="header-authentication-fragment" class="button-group">

    <span class="" id="header-auth-message">Don't have an account?</span>

    <button id="header-auth-button" class="primary-button">Sign Up</button>

</div>