

<div id="inquiry-overlay">

    <div id="inquiry-modal">

        <div id="inquiry-modal-close-btn" class="exit-overlay-button"></div>


        <div id="inquiry-submit-container">

            <h2 class="inquiry-modal-title bold">Report a bug or request a feature</h2>

            <div class="input-wrapper">

                <div class="inquiry-select-group">

                    <p class="inquiry-select-label">I would like to</p>

                    <div class="inquiry-select-dropdown-head" id="inquiry-select-dropdown-head">
                        <span id="inquiry-selected">Select an option</span>
                        <div id="inquiry-dropdown-btn" class="noselect"></div>
                    </div>

                    <ul class="inquiry-select-dropdown-body" id="inquiry-select-dropdown-body">
                        <li id="inquiry-option-bug">Report a bug</li>
                        <li id="inquiry-option-feature">Request a feature</li>
                    </ul>

                    <span id="inquiry-select-error" class="input-error">Please select an inquiry type.</span>

                </div>

                <div class="input-group">

                    <label for="inquiry-modal-title-input" class="input-label">Title</label>

                    <div class="input-container input-type-text">
                        <input type="text" class="input" id="inquiry-modal-title-input" placeholder="Enter a title">
                    </div>

                    <span id="inquiry-title-error" class="input-error">Please provide a title.</span>
                </div>


                <div class="input-group">

                    <label for="inquiry-modal-description-input" class="input-label">Description</label>

                    <div class="textarea-container input-type-text">
                        <textarea type="text" class="input" id="inquiry-modal-description-input" placeholder="Enter a title"></textarea>
                    </div>

                    <span id="inquiry-description-error" class="input-error">Please provide a description of at least 100 characters.</span>

                </div>
            </div>

            <button class="primary-button bold" id="inquiry-submit-btn">Submit</button>
        </div>


        <div id="inquiry-success-container">

            <img src="../style/img/icons/success.svg" alt="success">

            <h2 class="inquiry-modal-title bold">Success!</h2>

            <p>Your <span id="inquiry-success-type" class="bold">bug report</span> request has been submitted successfully!</p>

            <div class="success-message-container">
                <p>You can <a class="bold" href="https://trello.com/b/psHzmcrs/scrumbs-feature-requests-bug-reports" target="_blank">click here</a> to track the status of your request.</p>
            </div>

        </div>


        <div id="inquiry-failed-container">


            <img src="../style/img/icons/failed.svg" alt="success">

            <h2 class="inquiry-modal-title bold">Failed!</h2>

            <p>Sorry, it seems your request failed.</p>

            <div class="failure-message-container">
                <p id="inquiry-modal-error-message">Error 500 | Internal server error</p>
            </div>

            <button id="inquiry-modal-try-again-btn" class="primary-button bold">Try Again</button>


        </div>




    </div>



</div>