



<h1 class="bold noselect">Impediments</h1>

<div id="impediments-filter-container" class="impediments-filter-container">

    <button id="impediments-filter-button" class="noselect">All Impediments</button>

    <div id="impediments-filter-dropdown">

        <div id="impediments-filter-dropdown-header" class="impediments-filter-dropdown-header">

            <input id="impediments-filter-input" type="search" placeholder="Search" spellcheck="false">

        </div>

        <div id="impediments-filter-reset" class="all-impediments-btn">All impediments</div>

        <ul id="impediments-filter-dropdown-member-list">

            <li class="pointer noselect">Stephen Hodges</li>

            <li class="pointer noselect">Isabela Estrada</li>

            <li class="pointer noselect">Gordon Hunt</li>

            <li class="pointer noselect">Estelle Cruz</li>

            <li class="pointer noselect">Charles Hughes</li>

            <li class="pointer noselect">Steve Rogers</li>

            <li class="pointer noselect">Steve Rogers</li>

            <li class="pointer noselect">Steve Rogers</li>

        </ul>

    </div>

</div>

<div id="impediments-header-options-button" class="pointer">

    <ul id="impediments-header-options-dropdown" class="options-list-bg">

        <li id="impediment-option-export" class="options-list-btn export-impediments">Export impediments</li>

        <li id="impediment-option-solve-all" class="options-list-btn solve-impediments">Solve all impediments</li>

    </ul>

</div>