


<!-- Impediments Header -->
<div id="impediments-header-container"></div>



<div id="impediments-container">

    <!-- Impediments Unsolved -->
    <ul id="impediments-unsolved-container"></ul>



    <!-- Impediments Solved -->
    <div id="impediments-solved-container"></div>


    <!-- Impediments Empty State -->

    <div id="impediment-empty-state" class="impediment-empty-container">

        <img class="empty-impediment-img" src="../style/img/impediments-empty-state.svg">

        <p class="bold">No impediments found.</p>

        <p>Create impediments using the <img class="add-impediment-icon" src="../style/img/icons/add-dark-icon.svg"> button, or create them within your notes in the <span class="bold">Scrum</span> page</p>

    </div>

    
    <!-- Impediments Add Btn -->

    <div class="add-object-button"></div>

</div>


<div id="add-new-impediment-container" class="add-new-impediment-container">

    <div class="add-new-impediment-header">

        <p class="title">Add new impediment</p>

        <div class="primary-button">Save</div>

        <div class="exit-overlay-button"></div>

    </div>

    <div class="add-new-impediment-body">

        <div>

            <p id="new-impediment-error-message" class="error-message">Please type an impediment.</p>

            <input class="bold-input" placeholder="Type your impediment here">

            <p class="primary-text">It’s not your impediment? </p>

            <p class="secondary-text">Select someone from the list below to link it to a member.</p>

           <div class="find-members-search-input-container">

               <input class="find-members-search-input" placeholder="Search">

               <img class="clear-search" src="../style/img/icons/icon-close-simple-dark.svg">

           </div>

        </div>

        <div id="add-impediment-members-list" class="add-impediment-members-list">

            <div id="add-impediment-search-empty-state" class="member-search-empty">

                <img src="../style/img/no-member-result.svg">

                <p class="empty-state-label">No member found</p>

                <p>Try again with a different name, or make sure you have members created.</p>

            </div>

            <div class="team-members-list-item">

                <p>Nembo Lukeni</p>

                <div class="checked-box"></div>

            </div>

            <div class="team-members-list-item">

                <p>Nembo Lukeni</p>

                <div class="checked-box"></div>

            </div>

            <div class="team-members-list-item">

                <p>Nembo Lukeni</p>

                <div class="checked-box"></div>

            </div>

            <div class="team-members-list-item">

                <p>Nembo Lukeni</p>

                <div class="checked-box"></div>

            </div>

            <div class="team-members-list-item">

                <p>Nembo Lukeni</p>

                <div class="checked-box"></div>

            </div>

            <div class="team-members-list-item">

                <p>Nembo Lukeni</p>

                <div class="checked-box"></div>

            </div>

            <div class="team-members-list-item">

                <p>Nembo Lukeni</p>

                <div class="checked-box"></div>

            </div>

            <div class="team-members-list-item">

                <p>Nembo Lukeni</p>

                <div class="checked-box"></div>

            </div>

            <div class="team-members-list-item">

                <p>Nembo Lukeni</p>

                <div class="checked-box"></div>

            </div>

            <div class="team-members-list-item">

                <p>Nembo Lukeni</p>

                <div class="checked-box"></div>

            </div>

            <div class="team-members-list-item">

                <p>Nembo Lukeni</p>

                <div class="checked-box"></div>

            </div>

            <div class="team-members-list-item">

                <p>Nembo Lukeni</p>

                <div class="checked-box"></div>

            </div>

        </div>

    </div>


</div>