


<div id="impediments-solved-header" class="impediments-solved-header">
    <button id="impediments-solved-toggle-button">Hide Completed</button>
</div>

<ul id="impediments-solved-body">

    <!--<li class="impediments-solved-member-container">-->

        <!--<h3 class="impediments-solved-member-name bold">Stephen Hodges</h3>-->

        <!--<ul class="impediments-solved-member-impediments">-->

            <!--<li class="impediments-solved-member-impediment pointer active">Png icons needs to be replaced on landing page-->
                <!--<span class="impediments-solved-member-impediment-checkbox"></span>-->
            <!--</li>-->

            <!--<li class="impediments-solved-member-impediment pointer active">Login credentials expired-->
                <!--<span class="impediments-solved-member-impediment-checkbox"></span>-->
            <!--</li>-->

        <!--</ul>-->

    <!--</li>-->

</ul>

