


<!-- Impediments Header -->
<div id="impediments-header-container"></div>



<div id="impediments-container">

    <!-- Impediments Unsolved -->
    <ul id="impediments-unsolved-container"></ul>



    <!-- Impediments Solved -->
    <div id="impediments-solved-container"></div>


    <!-- Impediments Empty State -->

    <div id="impediment-empty-state" class="impediment-empty-container">

        <img class="empty-impediment-img" src="../style/img/impediments-empty-state.svg">

        <p class="bold">No impediments found.</p>

        <p>Create impediments using the <img class="add-impediment-icon" src="../style/img/icons/add-dark-icon.svg"> button, or create them within your notes in the <span class="bold">Scrum</span> page</p>

    </div>

    
    <!-- Impediments Add Btn -->

    <div id="create-impediment-btn" class="add-object-button"></div>

</div>

