

<div class="manage-members-members-list-item-container">

    <p class="member-list-item">Stephen Hodges</p>

    <div class="member-item-category-container">

        <!--<p class="member-category">Scrum team </p>-->

        <!--<p class="member-category">Front End Development</p>-->

        <!--<p class="member-category">Uncategorised</p>-->

        <!--<p class="member-category">Uncategorised</p>-->

    </div>

    <div class="options-btn"></div>

</div>


<div class="options-list-bg">

    <div class="options-list-btn edit">Edit</div>

    <div class="options-list-btn delete">Delete</div>

</div>