

<!--MEMBERS SETTINGS-->
<div id="manage-members-body" class="manage-members-body">

    <div class="manage-members-setting-header">

        <div class="find-members-search-input-container">

            <input class="find-members-search-input" placeholder="Find members">

            <img class="clear-search" src="../style/img/icons/icon-close-simple-dark.svg">

        </div>

        <!--<div class="manage-members-filter-container">-->

        <div id="manage-members-filter-btn" class="filter-btn">All members</div>


        <div class="options-list-bg">

            <div class="options-list-btn">All members</div>

            <div class="options-list-btn">Uncategorized</div>

            <div class="options-list-btn">Scrum team</div>

            <div class="options-list-btn">Front End Development</div>

            <div class="options-list-btn">Front End Development</div>

            <div class="options-list-btn">Front End Development</div>

            <div class="options-list-btn">Front End Development</div>

            <div class="options-list-btn">Front End Development</div>

            <div class="options-list-btn">Front End Development</div>

        </div>



        <!--</div>-->


    </div>

    <div id="manage-members-members-list-container" class="manage-members-members-list-container">

        <div class="member-search-empty">

            <img src="../style/img/no-member-result.svg">

            <p class="empty-state-label">No member found</p>

            <p>Try again with a different name, or make sure you have members created.</p>

        </div>

        <div class="manage-members-members-list-item">

            <div class="manage-members-members-list-item-container">

                <p class="member-list-item">Stephen Hodges</p>

                <p class="member-category">Uncategorised</p>

                <div class="options-btn"></div>

            </div>

        </div>

        <div class="manage-members-members-list-item">

            <!--<div class="manage-members-members-list-item-container">-->

                <!--<p class="member-list-item">Stephen Hodges</p>-->

                <!--<p class="member-category">Uncategorised</p>-->

                <!--<p class="member-category">Uncategorised</p>-->

                <!--<p class="member-category">Uncategorised</p>-->

                <!--<p class="member-category">Uncategorised</p>-->


                <!--<div class="options-btn"></div>-->

            <!--</div>-->

            <div class="manage-members-members-list-item-edit-container">

                <input class="edit-member-input" value="Stephen Hodges" type="text">

                <div class="btn-wrapper">

                    <div class="tertiary-button">Save</div>

                    <div class="secondary-button">Cancel</div>

                </div>

            </div>

        </div>

        <div class="manage-members-members-list-item">

            <div class="manage-members-members-list-item-container">

                <p class="member-list-item">Stephen Hodges</p>

                <p class="member-category">Scrum team </p>

                <p class="member-category">Front End Development</p>

                <p class="member-category">Uncategorised</p>

                <p class="member-category">Uncategorised</p>

                <div class="options-btn"></div>

            </div>


            <ul class="options-list-bg">

                <div class="options-list-btn edit">Edit</div>

                <div class="options-list-btn delete">Delete</div>

            </ul>

        </div>

        <div class="manage-members-members-list-item">

            <div class="manage-members-members-list-item-container">

                <p class="member-list-item">Stephen Hodges</p>

                <p class="member-category">Uncategorised</p>

                <div class="options-btn"></div>

            </div>

        </div>

        <div class="manage-members-members-list-item">

            <div class="manage-members-members-list-item-container">

                <p class="member-list-item">Stephen Hodges</p>

                <p class="member-category">Uncategorised</p>

                <p class="member-category">Uncategorised</p>

                <p class="member-category">Uncategorised</p>


                <div class="options-btn"></div>

            </div>

        </div>

        <div class="manage-members-members-list-item">

            <div class="manage-members-members-list-item-container">

                <p class="member-list-item">Stephen Hodges</p>

                <p class="member-category">Uncategorised</p>

                <div class="options-btn"></div>

            </div>

        </div>

        <div class="manage-members-members-list-item">

            <div class="manage-members-members-list-item-container">

                <p class="member-list-item">Stephen Hodges</p>

                <p class="member-category">Uncategorised</p>

                <div class="options-btn"></div>

            </div>

        </div>

        <div class="manage-members-members-list-item">

            <div class="manage-members-members-list-item-container">

                <p class="member-list-item">Stephen Hodges</p>

                <p class="member-category">Uncategorised</p>

                <div class="options-btn"></div>

            </div>

        </div>

        <div class="manage-members-members-list-item">

            <div class="manage-members-members-list-item-container">

                <p class="member-list-item">Stephen Hodges</p>

                <p class="member-category">Uncategorised</p>

                <p class="member-category">Uncategorised</p>

                <p class="member-category">Uncategorised</p>

                <div class="options-btn"></div>

            </div>

        </div>

        <div class="manage-members-members-list-item">

            <div class="manage-members-members-list-item-container">

                <p class="member-list-item">Stephen Hodges</p>

                <p class="member-category">Uncategorised</p>

                <div class="options-btn"></div>

            </div>

        </div>

        <div class="manage-members-members-list-item">

            <div class="manage-members-members-list-item-container">

                <p class="member-list-item">Stephen Hodges</p>

                <p class="member-category">Uncategorised</p>

                <div class="options-btn"></div>

            </div>

        </div>

        <div class="manage-members-members-list-item">

            <div class="manage-members-members-list-item-container">

                <p class="member-list-item">Stephen Hodges</p>

                <p class="member-category">Uncategorised</p>

                <p class="member-category">Uncategorised</p>

                <div class="options-btn"></div>

            </div>

        </div>

    </div>

    <div id="manage-members-add-new-member-btn" class="add-object-button"></div>

</div>