


<div id="manage-teams-add-member-modal">

    <div class="modal-bg">

        <div id="manage-teams-add-member-modal-close-btn" class="exit-overlay-button"></div>

        <p class="primary-text">Add members to <span id="add-member-modal-team-name">Front-end development team</span></p>


        <div class="add-member-modal-content-container">

            <div class="find-members-search-input-container">

                <input id="add-member-modal-search-input" class="find-members-search-input" placeholder="Find members">

                <img id="add-member-modal-clear-search" class="clear-search" src="../style/img/icons/icon-close-simple-dark.svg">

            </div>


            <div id="add-member-modal-members-empty-state" class="member-search-empty">

                <img src="../style/img/no-member-result.svg">

                <p class="empty-state-label">No member found</p>

                <p>Try again with a different name, or make sure you have members created.</p>

            </div>

            <div id="add-member-modal-member-list-container" class="members-list-container">



                <div class="team-members-list-item">

                    <p>Member name</p>

                    <div class="check-box checked"></div>

                </div>

                <div class="team-members-list-item">

                    <p>Member name</p>

                    <div class="check-box"></div>

                </div>

                <div class="team-members-list-item">

                    <p>Member name</p>

                    <div class="check-box checked"></div>

                </div>

                <div class="team-members-list-item">

                    <p>Member name</p>

                    <div class="check-box checked"></div>

                </div>

                <div class="team-members-list-item">

                    <p>Member name</p>

                    <div class="check-box checked"></div>

                </div>

                <div class="team-members-list-item">

                    <p>Member name</p>

                    <div class="check-box"></div>

                </div>

                <div class="team-members-list-item">

                    <p>Member name</p>

                    <div class="check-box"></div>

                </div>

                <div class="team-members-list-item">

                    <p>Member name</p>

                    <div class="check-box"></div>

                </div>

                <div class="team-members-list-item">

                    <p>Member name</p>

                    <div class="check-box"></div>

                </div>

                <div class="team-members-list-item">

                    <p>Member name</p>

                    <div class="check-box"></div>

                </div>


                <div class="team-members-list-item">

                    <p>Member name</p>

                    <div class="check-box"></div>

                </div>

                <div class="team-members-list-item">

                    <p>Member name</p>

                    <div class="check-box"></div>

                </div>

            </div>


            <div class="btn-wrapper">

                <div id="manage-teams-add-member-modal-cancel-btn" class="secondary-button">Cancel</div>

                <div id="manage-teams-add-member-modal-save-btn" class="primary-button">Save</div>

            </div>


        </div>



    </div>

</div>