


<!--TEAM SETTINGS-->
<div class="manage-teams-body clearfix">

    <div  class="manage-teams-list-container">

        <h1>Teams</h1>

        <ul id="teams-list-container" class="teams-list-container">

            <li class="teams-list-item">Scrum team</li>

            <li class="teams-list-item active">Front-End Development</li>

            <li class="teams-list-item">UI/UX</li>

            <li class="teams-list-item">Management</li>

            <li class="teams-list-item">Scrum team</li>

            <li class="teams-list-item">Front-End Development</li>

            <li class="teams-list-item">UI/UX</li>

            <li class="teams-list-item">Management</li>

            <li class="teams-list-item">UI/UX</li>

            <li class="teams-list-item">Management</li>

            <li class="teams-list-item">Scrum team</li>

            <li class="teams-list-item">Front-End Development</li>

            <li class="teams-list-item">UI/UX</li>

            <li class="teams-list-item">Management</li>

            <li class="teams-list-item">UI/UX</li>

            <li class="teams-list-item">Management</li>

            <li class="teams-list-item">Scrum team</li>

            <li class="teams-list-item">Front-End Development</li>

            <li class="teams-list-item">UI/UX</li>

            <li class="teams-list-item">Management</li>

            <li class="teams-list-item">UI/UX</li>

            <li class="teams-list-item">Management</li>

            <li class="teams-list-item">Scrum team</li>

            <li class="teams-list-item">Front-End Development</li>

            <li class="teams-list-item">UI/UX</li>

            <li class="teams-list-item">Management</li>

            <li class="teams-list-item">UI/UX</li>

            <li class="teams-list-item">Management</li>

            <li class="teams-list-item">Scrum team</li>

            <li class="teams-list-item">Front-End Development</li>

            <li class="teams-list-item">UI/UX</li>

            <li class="teams-list-item">Management</li>

            <li class="teams-list-item">UI/UX</li>

            <li class="teams-list-item">Management</li>

            <li class="teams-list-item">Scrum team</li>

            <li class="teams-list-item">Front-End Development</li>

            <li class="teams-list-item">UI/UX</li>

            <li class="teams-list-item">Management</li>


        </ul>

    </div>

    <div class="manage-teams-settings-container">

        <div class="manage-teams-settings-header">

            <p>Scrum Masters</p>

            <button id="manage-teams-delete-team-button" class="delete-team-button">Delete Team</button>

            <ul class="scrum-master-list-container">

                <!--can't be removed-->
                <li class="default-scrum-master-container">

                    <div id="main-scrum-master-avatar" class="profile-avatar"></div>

                </li>

                <!--can be removed-->
                <!--<li class="invited-scrum-master-container">-->

                    <!--<div class="profile-avatar"></div>-->

                    <!--<div class="remove-member-btn"></div>-->

                <!--</li>-->

                <!--<li class="invited-scrum-master-container">-->

                    <!--<div class="profile-avatar"></div>-->

                    <!--<div class="remove-member-btn"></div>-->

                <!--</li>-->


                <div id="manage-team-invite-scrum-master-btn" class="invite-scrum-master-btn"></div>

            </ul>


        </div>

        <input id="manage-teams-input-edit-team-name" class="manage-teams-input-edit-team-name bold" type="text" placeholder="Edit team name" spellcheck="false" value="Front-End Development">


        <div class="manage-teams-settings-body">

            <div class="manage-teams-settings-member-list-header">

                <h1 class="bold">Members</h1>

                <div id="manage-teams-add-member-button" class="add-button pointer noselect">

                    <p class="accent bold">Add Member</p>

                </div>

            </div>

            <div class="manage-teams-settings-member-list-body">

                <ul id="team-members-list-container" class="team-members-list-container">

                    <li class="team-members-list-item">Shaamikh Al Hakim

                        <div class="remove-member-btn"></div>

                    </li>

                    <li class="team-members-list-item">Shaamikh Al Hakim

                        <div class="remove-member-btn"></div>

                    </li>

                    <li class="team-members-list-item">Shaamikh Al Hakim

                        <div class="remove-member-btn"></div>

                    </li>

                    <li class="team-members-list-item">Shaamikh Al Hakim

                        <div class="remove-member-btn"></div>

                    </li>

                    <li class="team-members-list-item">Shaamikh Al Hakim

                        <div class="remove-member-btn"></div>

                    </li>

                    <li class="team-members-list-item">Shaamikh Al Hakim

                        <div class="remove-member-btn"></div>

                    </li>

                    <li class="team-members-list-item">Shaamikh Al Hakim

                        <div class="remove-member-btn"></div>

                    </li>

                    <li class="team-members-list-item">Shaamikh Al Hakim

                        <div class="remove-member-btn"></div>

                    </li>

                    <li class="team-members-list-item">Shaamikh Al Hakim

                        <div class="remove-member-btn"></div>

                    </li>

                    <li class="team-members-list-item">Shaamikh Al Hakim

                        <div class="remove-member-btn"></div>

                    </li>

                    <li class="team-members-list-item">Shaamikh Al Hakim

                        <div class="remove-member-btn"></div>

                    </li>

                    <li class="team-members-list-item">Shaamikh Al Hakim

                        <div class="remove-member-btn"></div>

                    </li>

                    <li class="team-members-list-item">Shaamikh Al Hakim

                        <div class="remove-member-btn"></div>

                    </li>

                    <li class="team-members-list-item">Shaamikh Al Hakim

                        <div class="remove-member-btn"></div>

                    </li>

                    <li class="team-members-list-item">Shaamikh Al Hakim

                        <div class="remove-member-btn"></div>

                    </li>

                    <li class="team-members-list-item">Shaamikh Al Hakim

                        <div class="remove-member-btn"></div>

                    </li>


                </ul>

            </div>

        </div>

    </div>

    <div id="manage-teams-add-new-team-btn" class="add-object-button"></div>



</div>


<!--MANAGE TEAMS EMPTY STATE-->
<div id="manage-teams-empty-state-container" class="manage-teams-empty-state-container">

    <img src="../style/img/no-teams-empty-state-icon.svg">

    <p class="empty-state-title">No teams created</p>

    <p class="empty-state-description">The teams you create using the + button, will be shown here.</p>

    <div id="manage-teams-empty-state-add-new-team-btn" class="add-object-button"></div>

</div>



