

<!--MEMBERS SETTINGS-->
<div id="manage-members-body" class="manage-members-body">

    <div class="manage-members-setting-header">

        <input class="find-members-search-input" placeholder="Find members">

        <div id="manage-members-filter-btn" class="filter-btn">All members</div>

    </div>

    <ul id="manage-members-members-list-container" class="manage-members-members-list-container">

        <li class="manage-members-members-list-item">

            <p class="member-list-item">Stephen Hodges</p>

            <p class="member-category">Uncategorised</p>

            <div class="options-btn"></div>

        </li>

        <li class="manage-members-members-list-item">

            <p class="member-list-item">Stephen Hodges</p>

            <p class="member-category">Uncategorised</p>

            <div class="options-btn"></div>

        </li>

        <li class="manage-members-members-list-item">

            <p class="member-list-item">Stephen Hodges</p>

            <p class="member-category">Scrum team </p>

            <p class="member-category">Front End Development</p>

            <p class="member-category">Uncategorised</p>

            <p class="member-category">Uncategorised</p>


            <div class="options-btn"></div>

        </li>

        <li class="manage-members-members-list-item">

            <p class="member-list-item">Stephen Hodges</p>

            <p class="member-category">Uncategorised</p>

            <div class="options-btn"></div>

        </li>

        <li class="manage-members-members-list-item">

            <p class="member-list-item">Stephen Hodges</p>

            <p class="member-category">Uncategorised</p>

            <div class="options-btn"></div>

        </li>

        <li class="manage-members-members-list-item">

            <p class="member-list-item">Stephen Hodges</p>

            <p class="member-category">Uncategorised</p>

            <div class="options-btn"></div>

        </li>

        <li class="manage-members-members-list-item">

            <p class="member-list-item">Stephen Hodges</p>

            <p class="member-category">Scrum team </p>

            <p class="member-category">Front End Development</p>

            <p class="member-category">Uncategorised</p>

            <p class="member-category">Uncategorised</p>


            <div class="options-btn"></div>

        </li>

        <li class="manage-members-members-list-item">

            <p class="member-list-item">Stephen Hodges</p>

            <p class="member-category">Uncategorised</p>

            <div class="options-btn"></div>

        </li>

        <li class="manage-members-members-list-item">

            <p class="member-list-item">Stephen Hodges</p>

            <p class="member-category">Uncategorised</p>

            <div class="options-btn"></div>

        </li>

        <li class="manage-members-members-list-item">

            <p class="member-list-item">Stephen Hodges</p>

            <p class="member-category">Uncategorised</p>

            <div class="options-btn"></div>

        </li>

        <li class="manage-members-members-list-item">

            <p class="member-list-item">Stephen Hodges</p>

            <p class="member-category">Scrum team </p>

            <p class="member-category">Front End Development</p>

            <p class="member-category">Uncategorised</p>

            <p class="member-category">Uncategorised</p>


            <div class="options-btn"></div>

        </li>

        <li class="manage-members-members-list-item">

            <p class="member-list-item">Stephen Hodges</p>

            <p class="member-category">Uncategorised</p>

            <div class="options-btn"></div>

        </li>

    </ul>

    <div id="manage-members-add-new-member-btn" class="add-object-button"></div>

</div>