


<div id="onboarding-manage-teams-tip-add-new-team" class="onboarding-tooltip">

    <div id="onboarding-manage-teams-tip-add-new-team-close-btn" class="onboarding-close-btn guide"></div>

    <div class="guide-content-wrapper">

        <p class="guide-description">Click the <img class="guide-add-icon" src="../style/img/icons/icon-add.svg"> button, to create a new team.</p>

    </div>

    <p class="skip-link-btn">Skip</p>

    <div id="onboarding-manage-teams-tip-add-new-team-next-btn" class="guide-primary-btn small">Next</div>

    <div id="onboarding-manage-teams-tip-add-new-team-previous-btn" class="guide-secondary-btn small">Previous</div>

</div>
