
<!--Edit team name-->

<div id="onboarding-manage-teams-tip-edit-team-name" class="onboarding-tooltip image">

    <div id="onboarding-manage-teams-tip-edit-team-name-close-btn" class="onboarding-close-btn guide"></div>

    <div class="guide-content-wrapper">

        <img src="../style/img/onboarding/edit-member.svg">

        <p class="guide-description">You can click to edit the team name.</p>

    </div>

    <p id="onboarding-manage-teams-tip-edit-team-name-skip-btn" class="skip-link-btn">Skip</p>

    <div id="onboarding-manage-teams-tip-edit-team-name-next-btn" class="guide-primary-btn small">Next</div>

</div>


<!--Add members-->

<div id="onboarding-manage-teams-tip-add-members" class="onboarding-tooltip image right-pointer">

    <div id="onboarding-manage-teams-tip-add-members-close-btn" class="onboarding-close-btn guide"></div>

    <div class="guide-content-wrapper">

        <img src="../style/img/onboarding/add-members-icon.svg">

        <p class="guide-description">Use the Add Members button to add members to your team.</p>

    </div>

    <div id="onboarding-manage-teams-tip-add-members-next-btn" class="guide-primary-btn small">Next</div>

    <div id="onboarding-manage-teams-tip-add-members-previous-btn" class="guide-secondary-btn small">Previous</div>

</div>


<!--Add new team-->

<div id="onboarding-manage-teams-tip-add-new-team" class="onboarding-tooltip">

    <div id="onboarding-manage-teams-tip-add-new-team-close-btn" class="onboarding-close-btn guide"></div>

    <div class="guide-content-wrapper">

        <p class="guide-description">Click the <img class="guide-add-icon" src="../style/img/icons/icon-add.svg"> button, to create a new team.</p>

    </div>

    <div id="onboarding-manage-teams-tip-add-new-team-next-btn" class="guide-primary-btn small">Next</div>

    <div id="onboarding-manage-teams-tip-add-new-team-previous-btn" class="guide-secondary-btn small">Previous</div>

</div>

<!--Delete team-->

<div id="onboarding-manage-teams-tip-delete-team" class="onboarding-tooltip image right-pointer">

    <div id="onboarding-manage-teams-tip-delete-team-close-btn" class="onboarding-close-btn guide"></div>

    <div class="guide-content-wrapper">

        <img src="../style/img/onboarding/delete-team-icon.svg">

        <p class="guide-description">Use this button if you want to delete the selected team.</p>

    </div>

    <div id="onboarding-manage-teams-tip-delete-team-got-it-btn" class="guide-primary-btn small">Got it!</div>

    <div id="onboarding-manage-teams-tip-delete-team-previous-btn" class="guide-secondary-btn small">Previous</div>

</div>