


<div id="onboarding-manage-teams-tip-delete-team" class="onboarding-tooltip image right-pointer">

    <div id="onboarding-manage-teams-tip-delete-team-close-btn" class="onboarding-close-btn guide"></div>

    <div class="guide-content-wrapper">

        <img src="../style/img/onboarding/delete-team-icon.svg">

        <p class="guide-description">Use this button if you want to delete the selected team.</p>

    </div>

    <p class="skip-link-btn">Skip</p>

    <div id="onboarding-manage-teams-tip-delete-team-got-it-btn" class="guide-primary-btn small">Got it!</div>

    <div id="onboarding-manage-teams-tip-delete-team-previous-btn" class="guide-secondary-btn small">Previous</div>

</div>
