

<div id="onboarding-tip-member-options" class="onboarding-tooltip image right-pointer">

    <div class="onboarding-close-btn guide"></div>

    <div class="guide-content-wrapper">

        <img src="../style/img/onboarding/member-options.svg">

        <p class="guide-description">Use the member options button to perform advanced operations on your member.</p>

    </div>

    <div class="guide-primary-btn small">Got it!</div>

    <div class="guide-secondary-btn small">Previous</div>

</div>