

<div id="onboarding-modal-container">

    <div class="onboarding-modal-overlay">

        <div class="onboarding-modal-welcome">

            <div class="onboarding-close-btn"></div>

            <p class="modal-title">Welcome to Scrumbs 1.0.0 Alpha!</p>

            <p class="guide-description">Here are a couple of things you can achieve within Scrumbs: </p>

            <ul class="modal-features-list-container">

                <li class="modal-features-list notes">Keep logs of your daily stand-up meetings.</li>

                <li class="modal-features-list impediments">Create and manage impediments.</li>

                <li class="modal-features-list reports">Generate reports of logs and impediments.</li>

            </ul>

            <div class="guide-primary-btn">Start Exploring</div>


        </div>

    </div>

</div>