


<div id="onboarding-manage-teams-tip-edit-team-name" class="onboarding-tooltip image">

    <div id="onboarding-manage-teams-tip-edit-team-name-close-btn" class="onboarding-close-btn guide"></div>

    <div class="guide-content-wrapper">

        <img src="../style/img/onboarding/edit-member.svg">

        <p class="guide-description">You can click to edit the team name.</p>

    </div>

    <p id="onboarding-manage-teams-tip-edit-team-name-skip-btn" class="skip-link-btn">Skip</p>

    <div id="onboarding-manage-teams-tip-edit-team-name-next-btn" class="guide-primary-btn small">Next</div>

</div>
