


<div id="onboarding-manage-teams-tip-add-members" class="onboarding-tooltip image right-pointer">

    <div id="onboarding-manage-teams-tip-add-members-close-btn" class="onboarding-close-btn guide"></div>

    <div class="guide-content-wrapper">

        <img src="../style/img/onboarding/add-members-icon.svg">

        <p class="guide-description">Use the Add Members button to add members to your team.</p>

    </div>

    <p class="skip-link-btn">Skip</p>

    <div id="onboarding-manage-teams-tip-add-members-next-btn" class="guide-primary-btn small">Next</div>

    <div id="onboarding-manage-teams-tip-add-members-previous-btn" class="guide-secondary-btn small">Previous</div>

</div>
