

<div id="manage-teams-container">

    <div class="manage-teams-header">

        <span id="manage-teams-exit-button" class="exit-overlay-button pointer"></span>

        <h1 class="bold">Settings</h1>


        <nav class="settings-nav">

            <a class="settings-nav-btn active">Teams</a>

            <a class="settings-nav-btn">Members</a>

        </nav>

    </div>

    <div class="manage-teams-body clearfix">

        <div class="manage-teams-list-container">

            <h1>Teams</h1>

            <ul class="teams-list-container">

                <li class="teams-list-item">Scrum team</li>

                <li class="teams-list-item active">Front-End Development</li>

                <li class="teams-list-item">UI/UX</li>

                <li class="teams-list-item">Management</li>


            </ul>

        </div>

        <div class="manage-teams-settings-container">

            <div class="manage-teams-settings-header">

                <ul class="scrum-master-list-container">

                    <li class="profile-avatar"></li>

                    <li class="profile-avatar"></li>

                    <li class="profile-avatar"></li>

                    <li class="profile-avatar"></li>

                    <li class="profile-avatar"></li>

                    <li class="profile-avatar"></li>

                    <div class="invite-scrum-master-btn"></div>

                </ul>

                <!--<input id="manage-teams-input-edit-team-name" class="bold" type="text" placeholder="Edit team name" spellcheck="false" value="Front-End Development">-->

                <button id="manage-teams-delete-team-button" class="delete-team-button bold">Delete Team</button>

            </div>

            <div class="manage-teams-settings-body">

                    <div class="manage-teams-settings-member-list-header">

                        <h2 class="bold">Members</h2>
                        <p>Select members you want to add to your team.</p>

                        <div id="manage-teams-add-member-button" class="add-button pointer noselect">
                            <p class="accent bold">Add Member</p>
                        </div>

                    </div>

                    <div class="manage-teams-settings-member-list-body">

                        <ul id="manage-teams-member-container">

                            <!--<li>Stephen Hodges-->
                                <!--<span class="manage-teams-member-checkbox"></span>-->
                            <!--</li>-->
        <!---->
                            <!--<li class="active">Georgie Mendoza-->
                                <!--<span class="manage-teams-member-checkbox"></span>-->
                            <!--</li>-->
        <!---->
                            <!--<li>Myrtle Boone-->
                                <!--<span class="manage-teams-member-checkbox"></span>-->
                            <!--</li>-->
        <!---->
                            <!--<li class="active">Eugene Moran-->
                                <!--<span class="manage-teams-member-checkbox"></span>-->
                            <!--</li>-->
        <!---->
                            <!--<li>Dorothy Joseph-->
                                <!--<span class="manage-teams-member-checkbox"></span>-->
                            <!--</li>-->
        <!---->
                            <!--<li class="active">Luke Nguyen-->
                                <!--<span class="manage-teams-member-checkbox"></span>-->
                            <!--</li>-->
        <!---->
                            <!--<li>Linnie Sullivan-->
                                <!--<span class="manage-teams-member-checkbox"></span>-->
                            <!--</li>-->
        <!---->
                            <!--<li class="active">Sue Sanders-->
                                <!--<span class="manage-teams-member-checkbox"></span>-->
                            <!--</li>-->
        <!---->
                            <!--<li>Georgie Hogan-->
                                <!--<span class="manage-teams-member-checkbox"></span>-->
                            <!--</li>-->

                        </ul>

                    </div>

            </div>

        </div>

    </div>


</div>