

<div id="manage-teams-container">

    <div class="manage-teams-header">

        <span id="manage-teams-exit-button" class="exit-overlay-button pointer"></span>

        <h1 class="bold">Settings</h1>


        <nav class="settings-nav">

            <a class="settings-nav-btn active">Teams</a>

            <a class="settings-nav-btn">Members</a>

        </nav>

    </div>

    <!--TEAM SETTINGS-->
    <div class="manage-teams-body clearfix">

        <div  class="manage-teams-list-container">

            <h1>Teams</h1>

            <ul id="teams-list-container" class="teams-list-container">

                <li class="teams-list-item">Scrum team</li>

                <li class="teams-list-item active">Front-End Development</li>

                <li class="teams-list-item">UI/UX</li>

                <li class="teams-list-item">Management</li>

                <li class="teams-list-item">Scrum team</li>

                <li class="teams-list-item">Front-End Development</li>

                <li class="teams-list-item">UI/UX</li>

                <li class="teams-list-item">Management</li>

                <li class="teams-list-item">UI/UX</li>

                <li class="teams-list-item">Management</li>

                <li class="teams-list-item">Scrum team</li>

                <li class="teams-list-item">Front-End Development</li>

                <li class="teams-list-item">UI/UX</li>

                <li class="teams-list-item">Management</li>

                <li class="teams-list-item">UI/UX</li>

                <li class="teams-list-item">Management</li>

                <li class="teams-list-item">Scrum team</li>

                <li class="teams-list-item">Front-End Development</li>

                <li class="teams-list-item">UI/UX</li>

                <li class="teams-list-item">Management</li>

                <li class="teams-list-item">UI/UX</li>

                <li class="teams-list-item">Management</li>

                <li class="teams-list-item">Scrum team</li>

                <li class="teams-list-item">Front-End Development</li>

                <li class="teams-list-item">UI/UX</li>

                <li class="teams-list-item">Management</li>

                <li class="teams-list-item">UI/UX</li>

                <li class="teams-list-item">Management</li>

                <li class="teams-list-item">Scrum team</li>

                <li class="teams-list-item">Front-End Development</li>

                <li class="teams-list-item">UI/UX</li>

                <li class="teams-list-item">Management</li>

                <li class="teams-list-item">UI/UX</li>

                <li class="teams-list-item">Management</li>

                <li class="teams-list-item">Scrum team</li>

                <li class="teams-list-item">Front-End Development</li>

                <li class="teams-list-item">UI/UX</li>

                <li class="teams-list-item">Management</li>


            </ul>

        </div>

        <div class="manage-teams-settings-container">

            <div class="manage-teams-settings-header">

                <p>Scrum Masters</p>

                <button id="manage-teams-delete-team-button" class="delete-team-button">Delete Team</button>

                <ul class="scrum-master-list-container">

                    <!--can't be removed-->
                    <li class="default-scrum-master-container">

                        <div id="main-scrum-master-avatar" class="profile-avatar"></div>

                    </li>

                    <!--can be removed-->
                    <li class="invited-scrum-master-container">

                        <div class="profile-avatar"></div>

                        <div class="remove-member-btn"></div>

                    </li>

                    <li class="invited-scrum-master-container">

                        <div class="profile-avatar"></div>

                        <div class="remove-member-btn"></div>

                    </li>


                    <div id="manage-team-invite-scrum-master-btn" class="invite-scrum-master-btn"></div>

                </ul>


            </div>

            <input id="manage-teams-input-edit-team-name" class="manage-teams-input-edit-team-name bold" type="text" placeholder="Edit team name" spellcheck="false" value="Front-End Development">


            <div class="manage-teams-settings-body">

                    <div class="manage-teams-settings-member-list-header">

                        <h1 class="bold">Members</h1>

                        <div id="manage-teams-add-member-button" class="add-button pointer noselect">

                            <p class="accent bold">Add Member</p>

                        </div>

                    </div>

                    <div class="manage-teams-settings-member-list-body">

                        <ul id="team-members-list-container" class="team-members-list-container">

                            <li class="team-members-list-item">Shaamikh Al Hakim

                                <div class="remove-member-btn"></div>

                            </li>

                            <li class="team-members-list-item">Shaamikh Al Hakim

                                <div class="remove-member-btn"></div>

                            </li>

                            <li class="team-members-list-item">Shaamikh Al Hakim

                                <div class="remove-member-btn"></div>

                            </li>

                            <li class="team-members-list-item">Shaamikh Al Hakim

                                <div class="remove-member-btn"></div>

                            </li>

                            <li class="team-members-list-item">Shaamikh Al Hakim

                                <div class="remove-member-btn"></div>

                            </li>

                            <li class="team-members-list-item">Shaamikh Al Hakim

                                <div class="remove-member-btn"></div>

                            </li>

                            <li class="team-members-list-item">Shaamikh Al Hakim

                                <div class="remove-member-btn"></div>

                            </li>

                            <li class="team-members-list-item">Shaamikh Al Hakim

                                <div class="remove-member-btn"></div>

                            </li>

                            <li class="team-members-list-item">Shaamikh Al Hakim

                                <div class="remove-member-btn"></div>

                            </li>

                            <li class="team-members-list-item">Shaamikh Al Hakim

                                <div class="remove-member-btn"></div>

                            </li>

                            <li class="team-members-list-item">Shaamikh Al Hakim

                                <div class="remove-member-btn"></div>

                            </li>

                            <li class="team-members-list-item">Shaamikh Al Hakim

                                <div class="remove-member-btn"></div>

                            </li>

                            <li class="team-members-list-item">Shaamikh Al Hakim

                                <div class="remove-member-btn"></div>

                            </li>

                            <li class="team-members-list-item">Shaamikh Al Hakim

                                <div class="remove-member-btn"></div>

                            </li>

                            <li class="team-members-list-item">Shaamikh Al Hakim

                                <div class="remove-member-btn"></div>

                            </li>

                            <li class="team-members-list-item">Shaamikh Al Hakim

                                <div class="remove-member-btn"></div>

                            </li>


                        </ul>

                    </div>

            </div>

        </div>

        <div id="manage-teams-add-new-team-btn" class="add-object-button"></div>

    </div>


    <!--MEMBERS SETTINGS-->
    <div id="manage-members-body" class="manage-members-body">

        <div class="manage-members-setting-header">

            <input class="find-members-search-input" placeholder="Find members">

            <div id="manage-members-filter-btn" class="filter-btn">All members</div>

        </div>

        <ul id="manage-members-members-list-container" class="manage-members-members-list-container">

            <li class="manage-members-members-list-item">

                <p class="member-list-item">Stephen Hodges</p>

                <p class="member-category">Uncategorised</p>

                <div class="options-btn"></div>

            </li>

            <li class="manage-members-members-list-item">

                <p class="member-list-item">Stephen Hodges</p>

                <p class="member-category">Uncategorised</p>

                <div class="options-btn"></div>

            </li>

            <li class="manage-members-members-list-item">

                <p class="member-list-item">Stephen Hodges</p>

                <p class="member-category">Scrum team </p>

                <p class="member-category">Front End Development</p>

                <p class="member-category">Uncategorised</p>

                <p class="member-category">Uncategorised</p>


                <div class="options-btn"></div>

            </li>

            <li class="manage-members-members-list-item">

                <p class="member-list-item">Stephen Hodges</p>

                <p class="member-category">Uncategorised</p>

                <div class="options-btn"></div>

            </li>

            <li class="manage-members-members-list-item">

                <p class="member-list-item">Stephen Hodges</p>

                <p class="member-category">Uncategorised</p>

                <div class="options-btn"></div>

            </li>

            <li class="manage-members-members-list-item">

                <p class="member-list-item">Stephen Hodges</p>

                <p class="member-category">Uncategorised</p>

                <div class="options-btn"></div>

            </li>

            <li class="manage-members-members-list-item">

                <p class="member-list-item">Stephen Hodges</p>

                <p class="member-category">Scrum team </p>

                <p class="member-category">Front End Development</p>

                <p class="member-category">Uncategorised</p>

                <p class="member-category">Uncategorised</p>


                <div class="options-btn"></div>

            </li>

            <li class="manage-members-members-list-item">

                <p class="member-list-item">Stephen Hodges</p>

                <p class="member-category">Uncategorised</p>

                <div class="options-btn"></div>

            </li>

            <li class="manage-members-members-list-item">

                <p class="member-list-item">Stephen Hodges</p>

                <p class="member-category">Uncategorised</p>

                <div class="options-btn"></div>

            </li>

            <li class="manage-members-members-list-item">

                <p class="member-list-item">Stephen Hodges</p>

                <p class="member-category">Uncategorised</p>

                <div class="options-btn"></div>

            </li>

            <li class="manage-members-members-list-item">

                <p class="member-list-item">Stephen Hodges</p>

                <p class="member-category">Scrum team </p>

                <p class="member-category">Front End Development</p>

                <p class="member-category">Uncategorised</p>

                <p class="member-category">Uncategorised</p>


                <div class="options-btn"></div>

            </li>

            <li class="manage-members-members-list-item">

                <p class="member-list-item">Stephen Hodges</p>

                <p class="member-category">Uncategorised</p>

                <div class="options-btn"></div>

            </li>

        </ul>

        <div id="manage-members-add-new-member-btn" class="add-object-button"></div>

    </div>


</div>


