

<div id="scrum-notes" class="scrum-notes">

    <div id="scrum-notes-header">
        <h2 id="scrum-notes-member-name" class="bold noselect">Lee Simon</h2>
        <input id="scrum-notes-member-name-input" type="text">
        <div id="scrum-notes-member-options-button" class="pointer">
            <ul id="scrum-notes-member-options-list" class="pointer">
                <li id="scrum-notes-member-option-export-notes">Export Notes</li>
                <li id="scrum-notes-member-option-export-impediments">Export Impediments</li>
                <li id="scrum-notes-member-option-clear-notes">Clear Notes</li>
                <li id="scrum-notes-member-option-remove-member">Remove Member</li>
            </ul>
        </div>
    </div>


    <ul id="scrum-notes-note-container">

        <li class="scrum-note pointer">
            <p class="scrum-note-text">Two factor authentication implemented</p>
            <div class="scrum-note-options-button"></div>
            <span class="scrum-note-checkmark"></span>
        </li>

        <li class="scrum-note pointer">
            <p class="scrum-note-text">Added Passport as an authentication middleware, configured strategies for Google, Twitter and LinkeIn. Working on task listing component, made a release to the test environment</p>
            <div class="scrum-note-options-button">
                <ul class="scrum-note-options-list">
                    <li class="scrum-note-option-convert-to-note">Convert to note</li>
                    <li class="scrum-note-option-convert-to-impediment">Convert to impediment</li>
                    <li class="scrum-note-option-edit-note">Edit</li>
                    <li class="scrum-note-option-delete-note">Delete</li>
                </ul>
            </div>
            <span class="scrum-note-checkmark"></span>
        </li>

        <li class="scrum-note-date bold">
            <span>Dec 28 2018</span>
        </li>

        <li class="scrum-note impediment pointer">
            <p class="scrum-note-text">Need the .json translation files for the localization, it works with mock data</p>
            <div class="scrum-note-options-button">
                <ul class="scrum-note-options-list">
                    <li class="scrum-note-option-convert-to-note">Convert to note</li>
                    <li class="scrum-note-option-convert-to-impediment">Convert to impediment</li>
                    <li class="scrum-note-option-edit-note">Edit</li>
                    <li class="scrum-note-option-delete-note">Delete</li>
                </ul>
            </div>
            <span class="scrum-note-checkmark"></span>
        </li>

        <li class="scrum-note pointer">
            <p class="scrum-note-text">Working on adding social media authentication</p>
            <div class="scrum-note-options-button"></div>
            <span class="scrum-note-checkmark"></span>
        </li>

        <li class="scrum-note pointer">
            <p class="scrum-note-text">Sales team has an urgent feature request, but specs are not clear</p>
            <div class="scrum-note-options-button"></div>
            <span class="scrum-note-checkmark"></span>
        </li>

        <li class="scrum-note pointer">
            <p class="scrum-note-text">Released version 2.0.8 to the production environment, ad a meeting with QA about prioritizing bug fixes; Fixed bugs 1405, 1406, 1420 and sent them to QA, continuing with 1411 and 1413</p>
            <div class="scrum-note-options-button"></div>
            <span class="scrum-note-checkmark"></span>
        </li>

        <li class="scrum-note impediment solved pointer">
            <p class="scrum-note-text">Implemented remember me feature on a separate branch, testing it today and merging it back to master</p>
            <div class="scrum-note-options-button"></div>
            <span class="scrum-note-checkmark"></span>
        </li>


        <li class="scrum-note pointer">
            <p class="scrum-note-text">Authentication JavaScript implemented</p>
            <div class="scrum-note-options-button"></div>
            <span class="scrum-note-checkmark"></span>
        </li>

        <li class="scrum-note-date bold">
            <span>Dec 28 2018</span>
        </li>
    
        <li class="scrum-note impediment pointer">
            <p class="scrum-note-text">Need the .json translation files for the localization, it works with mock data</p>
            <div class="scrum-note-options-button"></div>
            <span class="scrum-note-checkmark"></span>
        </li>

        <li class="scrum-note pointer">
            <p class="scrum-note-text">Working on adding social media authentication</p>
            <div class="scrum-note-options-button"></div>
            <span class="scrum-note-checkmark"></span>
        </li>

        <li class="scrum-note pointer">
            <p class="scrum-note-text">Sales team has an urgent feature request, but specs are not clear</p>
            <div class="scrum-note-options-button"></div>
            <span class="scrum-note-checkmark"></span>
        </li>

        <li class="scrum-note pointer">
            <p class="scrum-note-text">Released version 2.0.8 to the production environment, ad a meeting with QA about prioritizing bug fixes; Fixed bugs 1405, 1406, 1420 and sent them to QA, continuing with 1411 and 1413</p>
            <div class="scrum-note-options-button"></div>
            <span class="scrum-note-checkmark"></span>
        </li>

        <li class="scrum-note impediment solved pointer">
            <p class="scrum-note-text">Implemented remember me feature on a separate branch, testing it today and merging it back to master</p>
            <div class="scrum-note-options-button"></div>
            <span class="scrum-note-checkmark"></span>
        </li>


        <li class="scrum-note pointer">
            <p class="scrum-note-text">Authentication JavaScript implemented</p>
            <div class="scrum-note-options-button"></div>
            <span class="scrum-note-checkmark"></span>
        </li>

    </ul>


    <div id="scrum-notes-footer">

        <input id="scrum-note-input" type="text" placeholder="Type your notes here" spellcheck="false">

        <img id="exit-note-edit-mode" src="../style/img/icons/icon-close-simple-dark.svg" alt="exit note edit mode">

        <div id="scrum-notes-impediment-checkbox-container" class="checkbox-group">
            <input id="scrum-notes-impediment-checkbox" type="checkbox">
            <label for="scrum-notes-impediment-checkbox" class="noselect pointer">Impediment</label>
        </div>

    </div>


    <div id="scrum-note-empty-state-container">

        <img src="../style/img/empty-notes-img.png" alt="">

        <h2 class="bold">You don't have any notes yet.</h2>

        <p>Start typing your notes below. Use the Impediment checkbox to convert your notes into to do's</p>

    </div>

</div>