

<div id="create-team-container">

    <span id="create-team-exit-button" class="exit-overlay-button pointer"></span>

    <div class="create-team-inner-container">

        <div class="create-team-header clearfix">

            <h1 class="bold">Create a new team</h1>

            <button id="create-team-save-button" class="primary-button">Save</button>

        </div>


        <div class="create-team-body">

            <input id="create-team-name-input" class="bold" type="text" placeholder="New Team" spellcheck="false">


            <div class="create-team-member-list-search">

                <img id="create-team-member-search-clear" src="../style/img/icons/icon-close-simple-dark.svg" alt="">
                
                <input id="create-team-member-search-input" class="search-member-input" type="search" placeholder="Find members">
                

            </div>

            <div class="create-team-member-list-body">

                <ul id="create-team-members-container">


                </ul>

            </div>

        </div>

    </div>


</div>