

<div id="manage-teams-container">

    <div class="manage-teams-header">

        <span id="manage-teams-exit-button" class="exit-overlay-button pointer"></span>

        <h1 class="bold">Manage your teams</h1>

        <!--<div class="button-group">-->

            <!--<button id="manage-teams-cancel-button" class="pointer noselect">Cancel</button>-->

            <!--<button id="manage-teams-save-button" class="manage-teams-save-button primary-button">Save</button>-->

        <!--</div>-->

    </div>

    <div class="manage-teams-body clearfix">

        <div class="manage-teams-list-container">

            <div id="manage-teams-add-team-button" class="add-button pointer noselect">
                <p class="accent bold">Add Team</p>
            </div>

            <ul id="manage-teams-team-container" class="manage-teams-team-list">
                <!--<li class="manage-teams-team noselect pointer">Scrum Team</li>-->
                <!--<li class="manage-teams-team noselect pointer active">Front-End Development</li>-->
                <!--<li class="manage-teams-team noselect pointer">UI/UX</li>-->
                <!--<li class="manage-teams-team noselect pointer">Android Development</li>-->
            </ul>

        </div>

        <div class="manage-teams-settings-container">

            <div class="manage-teams-settings-header">

                <input id="manage-teams-input-edit-team-name" class="bold" type="text" placeholder="Edit team name" spellcheck="false" value="Front-End Development">

                <button id="manage-teams-delete-team-button" class="bold">Delete Team</button>

            </div>

            <div class="manage-teams-settings-body">

                    <div class="manage-teams-settings-member-list-header">

                        <h2 class="bold">Members</h2>
                        <p>Select members you want to add to your team.</p>

                        <div id="manage-teams-add-member-button" class="add-button pointer noselect">
                            <p class="accent bold">Add Member</p>
                        </div>

                    </div>

                    <div class="manage-teams-settings-member-list-body">

                        <ul id="manage-teams-member-container">

                            <!--<li>Stephen Hodges-->
                                <!--<span class="manage-teams-member-checkbox"></span>-->
                            <!--</li>-->
        <!---->
                            <!--<li class="active">Georgie Mendoza-->
                                <!--<span class="manage-teams-member-checkbox"></span>-->
                            <!--</li>-->
        <!---->
                            <!--<li>Myrtle Boone-->
                                <!--<span class="manage-teams-member-checkbox"></span>-->
                            <!--</li>-->
        <!---->
                            <!--<li class="active">Eugene Moran-->
                                <!--<span class="manage-teams-member-checkbox"></span>-->
                            <!--</li>-->
        <!---->
                            <!--<li>Dorothy Joseph-->
                                <!--<span class="manage-teams-member-checkbox"></span>-->
                            <!--</li>-->
        <!---->
                            <!--<li class="active">Luke Nguyen-->
                                <!--<span class="manage-teams-member-checkbox"></span>-->
                            <!--</li>-->
        <!---->
                            <!--<li>Linnie Sullivan-->
                                <!--<span class="manage-teams-member-checkbox"></span>-->
                            <!--</li>-->
        <!---->
                            <!--<li class="active">Sue Sanders-->
                                <!--<span class="manage-teams-member-checkbox"></span>-->
                            <!--</li>-->
        <!---->
                            <!--<li>Georgie Hogan-->
                                <!--<span class="manage-teams-member-checkbox"></span>-->
                            <!--</li>-->

                        </ul>

                    </div>

            </div>

        </div>

    </div>


</div>