
@import "mixins";
@import "style-resets";
@import "color-variables";
@import "style-fonts";


.forgot-password-state #content-wrapper {

    width: 800px;
    height: 570px;
    top: 85px;
    bottom: auto;


    @media screen and ( max-width: 900px ) { width: 615px; }

    @media screen and ( max-width: 700px ) {
        top: 55px;
        width: 505px;
    }

    @media screen and ( max-width: 580px ) {
        width: 420px;

        .primary-button { width: 100%; }

    }

    @media screen and ( max-width: 480px ) {
        top: 30px;
        width: 340px;
    }

    @media screen and ( max-width: 480px ) {
        top: 10px;
        width: 305px;

        #content-container::before { display: none; }

    }

}


#authentication-forgot-password-container {

    display: none;
    opacity: 0;

    position: absolute;
    width: 410px;
    @include center();

    .logo {
        display: block;
        width: 160px;
        height: 37px;
        margin: 0 auto 30px;
    }

    h2 { max-width: none; }

    .forgot-password-body {
        max-width: 335px;
        margin: 0 auto;

        .input-wrapper { margin-top: 40px; }

        .primary-button { margin: 30px auto; }
    }

    .forgot-password-footer {

        text-align: center;

        span { font-size: 12px; }

        span:not( .accent ) {
            color: $text-tertiary-color;
            margin-right: 5px;
        }

    }



    @media screen and ( max-width: 700px ) {

        .forgot-password-footer {

            span { display: block; }

            span:not( .accent ) {
                margin-right: 0;
                margin-bottom: 13px;
            }

        } 
    
    }


    @media screen and ( max-width: 580px ) {

        width: 100%;
        padding: 0 20px;

    }


    @media screen and ( max-width: 480px ) {
        
        h2 { padding: 10px 20px 0; }

        .forgot-password-body .input-wrapper { margin-top: 30px; }

    }


    @media screen and ( max-width: 350px ) {

        width: 100%;
        padding: 0 20px;

    }



    // @media screen and ( max-width: 480px ) {

    //     width: 100%;
    //     padding-left: 40px;
    //     padding-right: 40px;

    // }



    // @media screen and ( max-width: 400px ) {

    //     padding-left: 20px;
    //     padding-right: 20px;

    // }

}