


#create-impediment-container {
  padding: 40px 30px;
  height: 100%;
  //display: none;

  .simplebar-track { right: 0; }

  .simplebar-horizontal { display: none; }

  .clear-search { display: none; }


  .add-new-impediment-header {
    max-width: 565px;
    margin: auto;
    overflow: auto;
    padding: 0 5px 10px 0;

    .exit-overlay-button {
      position: absolute;
      right: 25px;
      top: 25px;
    }

    .title {
      font-weight: bold;
      font-size: 24px;
      margin-top: 10px;
      display: inline-block;
    }

    .primary-button {
      float: right;
      width: 150px;
    }

  }


  .add-new-impediment-body {
    max-width: 565px;
    margin: auto;
    clear: both;

    .error-message {
      margin-top: 30px;
      opacity: 0;
      //display: none;
    }

    .bold-input {
      margin: 5px 0 0;
      height: 74px;
    }

    .primary-text {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
      margin-top: 30px;
    }

    .secondary-text {
      font-size: 14px;
      opacity: 0.5;
      margin-bottom: 10px;
    }

    .find-members-search-input {
      margin: 15px 0;
      width: 100%;
    }

    .add-impediment-members-list {
      height: calc(100vh - 560px);
    }

    .member-search-empty {
      margin-top: 30px;
      display: none;
    }

    .team-members-list-item {

      p {
        display: inline-block;
      }

      .checked-box {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
      }

      &:hover {

        .checked-box {
          opacity: 1;
        }
      }

      &.selected {

        .checked-box {
          opacity: 1;
        }
      }
    }

  }
}
