
@import "mixins";
@import "color-variables";


/** ============================= MANAGE TEAMS COMPONENT ============================= */

.remove-member-btn {
    background: url("../../style/img/icons/icon-close-simple-dark.svg") no-repeat center #ffffff;
    height: 24px;
    width: 24px;
    border-radius: 15px;
    border: 2px solid $denary-color;
    background-size: 10px;
    transition: border-color 0.3s ease-in-out;

    &:hover {
        border: 2px solid $accent-color;
    }
}

#manage-teams-view-container {
    background-color: $tertiary-color;
    height: 100%;

    .simplebar-track { right: 0; }

    .simplebar-horizontal { display: none; }

    .manage-teams-header {
        height: 100px;
        border-bottom: 1px solid $denary-color;
        position: relative;

        #manage-teams-exit-button {
            @include center( "vertical" );
            right: 36px;
        }

        h1 {
            @include center( "vertical" );
            left: 30px;
            font-size: 24px;
        }

        .settings-nav {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .settings-nav-btn{
                font-size: 16px;
                font-weight: normal;
                color: #d0cfe0;
                transition: color 0.3s ease-in-out;
                margin: 0 25px;

                &.active {
                    color: $text-primary-color;
                }

                &:hover {
                    color: $text-primary-color;
                }
            }
        }
    }



    //MANAGE TEAMS

    .manage-teams-body {
        max-width: 870px;
        height: calc( 100% - 100px );
        margin: 0 auto;
        //display: none;
    }

    .manage-teams-list-container {
        width: 290px;
        float: left;
        height: 100%;
        padding: 25px;
        border-right: 1px solid $denary-color;

        h1 {
            font-size: 16px;
            font-weight: bold;
            margin: 0 20px 15px 15px;
        }

        .teams-list-container {
            height: 70vh;
            width: 100%;
        }

        .teams-list-item {
            padding: 10px 15px;
            transition: background-color 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                background-color: $nonary-color;
            }

            &.active {
                background-color: $denary-color;

            }
        }
    }

    .manage-teams-settings-container {
        width: calc( 100% - 290px );
        float: left;
        height: 100%;
        padding: 25px;

        .manage-teams-settings-header {
            overflow: hidden;

            p {
                font-size: 16px;
                font-weight: bold;
                display: inline-block;
            }
        }

        .scrum-master-list-container {
            width: 100%;
            vertical-align: middle;
            padding: 10px 0;

            .default-scrum-master-container {
                display: inline-block;
                margin-right: 5px;
                position: relative;
            }

            .invited-scrum-master-container {
                display: inline-block;
                margin-right: 5px;
                position: relative;
                cursor: pointer;

                .remove-member-btn {
                    position: absolute;
                    top: -5px;
                    right: 2px;
                    opacity: 0;
                    transition: opacity 0.3s ease-in-out;
                }

                &:hover {

                    .remove-member-btn {
                        opacity: 1;
                        cursor: pointer;
                    }
                }
            }

            .invite-scrum-master-btn {
                display: inline-block;
                height: 45px;
                width: 45px;
                border: 2px solid #ECECF2;
                background: url("../../style/img/icons/icon-add-accent.svg") no-repeat center;
                border-radius: 25px;
                cursor: pointer;
                transition: border 0.3s ease-in-out;
                box-shadow: 1px 4px 10px 0px rgba(99, 144, 246, 0);


                &:hover {
                    border: 2px solid $accent-color;
                }
            }
        }

        .delete-team-button {
            cursor: pointer;
            float: right;
            vertical-align: middle;
            display: inline-block;
            color: #D00262;
            background-color: transparent;
            width: 110px;
            font-size: 14px;
            text-align: right;
            padding: 0;
            transition: text-decoration 0.3s ease-in-out;

            &:hover {
                text-decoration: underline;
            }
        }

        .manage-teams-input-edit-team-name {
            display: inline-block;
            width: 100%;
            border-radius: 3px;
            border: 2px solid $denary-color;
            font-size: 24px;
            padding: 0 16px;
            line-height: 70px;
            transition: border 0.2s linear;
            margin-bottom: 25px;

            &:focus, &:hover { border: 2px solid $accent-color; }
        }

        .manage-teams-settings-body {
            height: calc( 100% - 105px );
            clear: both;
        }

        .manage-teams-settings-member-list-header {
            overflow: hidden;
            position: relative;
            margin-bottom: 10px;

            h1 {
                font-size: 16px;
                float: left;
                display: block;
                margin-top: 12px;
            }

            & > p { color: $text-tertiary-color; }

            #manage-teams-add-member-button {
                float: right;
            }
        }

        .manage-teams-settings-member-list-body {
            height: 85%;

            .team-members-list-container {
                height: calc( 100vh - 540px );

                ul {
                    height: 100%;
                    overflow-y: auto;
                }

                input {
                    line-height: 50px;
                    padding-left: 20px;
                    border-radius: 3px;
                    box-shadow: inset 0 0 0 1px $quinary-color;
                    color: $text-tertiary-color;
                    font-size: 24px;
                    margin-bottom: 5px;
                    width: 100%;

                    &:focus { box-shadow: inset 0 0 0 1px $accent-color; }
                }

            }

        }

    }



    //MANAGE MEMBERS

    .manage-members-body {
        max-width: 870px;
        height: calc( 100% - 100px);
        margin: 0 auto;
        padding: 30px 25px 0;
        position: relative;

        .clear-search { display: none; }

        .manage-members-setting-header {
            overflow: hidden;

            .options-list-bg {
                top: 75px;
                right: 25px;
                max-height: 270px;
                z-index: 5555;
                display: none;

                .options-list-btn {
                    padding: 0 20px;
                    font-size: 14px;
                }
            }
        }

        .find-members-search-input-container {
            width: 50%;
            overflow: auto;
            display: inline-block;
        }

        .find-members-search-input {
            display: inline-block;
            float: left;
            width: 100%;
        }

        .filter-btn {
            display: inline-block;
            float: right;
        }

        .manage-members-members-list-container {
            clear: both;
            margin-top: 30px;
            height: 65vh;
            padding-bottom: 100px;
        }

        .member-search-empty {
            margin-top: 30px;
            display: none;
        }

        .manage-members-members-list-item-container {
            padding: 15px;
            transition: background-color 0.3s ease-in-out;

            &:hover {
                background-color: $nonary-color;

                .options-btn {
                    opacity: 1;
                }
            }
        }

        .manage-members-members-list-item {
            border-bottom: 1px solid $denary-color;
            transition: background-color 0.3s ease-in-out;
            position: relative;

            &:last-child {
                border-bottom: none;
            }

            .options-btn {
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
                opacity: 0;
            }

            .options-list-bg {
                right: 15px;
                top: 65px;
                z-index: 200;
                display: none;
            }
        }

        .manage-members-members-list-item-edit-container, .manage-members-members-add-member-container {
            padding: 15px 0;

            .edit-member-input {
                width: calc(100% - 210px);
                border: 1px solid $denary-color;
                border-radius: 3px;
                background: url("../../style/img/icons/icon-member.svg") no-repeat left 15px center;
                background-size: 15px;
                font-size: 16px;
                padding: 10px 15px 10px 40px;
                display: inline-block;
                transition: border 0.3s ease-in-out;

                &:hover, &:focus {
                    border: 1px solid $accent-color;
                }
            }

            .btn-wrapper {
                width: 200px;
                display: inline-block;
                float: right;

                .tertiary-button {
                    display: inline-block;
                    width: 95px;
                    height: 42px;
                    line-height: 42px;
                    float: left;
                }

                .secondary-button {
                    display: inline-block;
                    width: 95px;
                    height: 42px;
                    line-height: 42px;
                    float: right;
                }
            }
        }

        .manage-members-members-list-item-edit-container { display: none };

        .member-list-item {
            padding: 0 25px 10px;
            background: url("../../style/img/icons/icon-member.svg") no-repeat left 3px;
            background-size: 15px;
            font-size: 16px;
        }

        .member-category {
            font-size: 14px;
            color: $text-primary-color;
            opacity: 0.5;
            display: inline-block;

            &::before {
                content: "•";
                margin-right: 3px;
            }

        }

        p:nth-child(2) {
            padding-left: 25px;

            &::before {
                content: "";
            }
        }

    }

}

//ADD MEMEBER MODAL

#manage-teams-add-member-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    top: 0;
    z-index: 555;
    opacity: 0;

    .simplebar-track { right: 0; }

    .simplebar-horizontal { display: none; }

    .clear-search { display: none; }

    .modal-bg {
        max-width: 660px;
        margin: 200px auto 0;
        padding: 40px 40px 50px;
        border-radius: 5px;
        box-shadow: 0 10px 40px 0 rgba(11,40,127,0.18);
        background-color: #ffffff;
        height: auto;
        position: relative;
        opacity: 0;
    }

    .primary-text {
        font-size: 16px;
        font-weight: bold;
    }

    .exit-overlay-button {
        right: 25px;
        top: 25px;
    }

    .add-member-modal-content-container {
        max-width: 450px;
        margin: 35px auto 0;

        .btn-wrapper {
            width: 350px;
            margin: auto;
            overflow: auto;
            padding: 30px 10px;

            .secondary-button {
                width: 150px;
                float: left;
            }

            .primary-button {
                float: right;
                width: 150px;
            }
        }
    }

    .find-members-search-input {
        width: 100%;
        margin: auto;
    }

    .members-list-container {
        margin-top: 30px;
        height: 31vh;

        .member-search-empty {
            display: block;
        }

        .check-box {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
        }
    }

}


@media screen and ( max-width: 820px )  {

    #manage-teams-container {

        .manage-teams-list-container {
            width: 250px;
        }

        .manage-teams-settings-container {
            width: calc( 100% - 250px);
        }

    }

}

