#screen-not-supported-alert {
  z-index: 1000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //display: none;
}

.no-support-bg {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #62B2FF 0%, #6E9AFF 100%);
  padding: 100px 30px 0;
  position: absolute;
  z-index: 100;

  .no-support-container {
    max-width: 640px;
    height: auto;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 19px 26px -12px rgba(42,65,133,0.41);
    position: relative;
    padding: 160px 20px;
  }

  .no-support-logo {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 110px;
    margin-bottom: 30px;
  }

  .no-support-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }

}