
@import "mixins";
@import "color-variables";


#scrum-welcome-screen {
  height: 100%;

  .scrum-welcome-screen-content {
    width: 485px;
    @include center();
  }

  .scrum-welcome-screen-profile-image,
  .scrum-welcome-screen-title,
  .scrum-welcome-screen-description,
  .scrum-welcome-impediment-contaier { text-align: center; }

  .scrum-welcome-screen-profile-image {
    width: 132px;
    height: 132px;
    line-height: 122px;
    margin: 0 auto 30px;
    border-radius: 50%;
    border: 6px solid rgba(36, 46, 76, .1);
    font-size: 48px;
    color: $text-tertiary-color;
    text-transform: uppercase;
    font-weight: bold;
  }

  .scrum-welcome-screen-title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }

  .scrum-welcome-screen-description {
    max-width: 275px;
    margin: 0 auto;
    line-height: 22px;
  }

  .scrum-welcome-impediment-contaier {
    margin-top: 35px;
    padding: 25px;
    background-color: $nonary-color;
    border-radius: 3px;

    p {
      font-size: 16px;
      font-weight: bold;
    }

    button {
      width: 215px;
      margin-top: 15px;
      font-weight: bold;
      font-size: 14px;
    }

  }

}