
@import "mixins";
@import "color-variables";


/** ============================= MANAGE TEAMS COMPONENT ============================= */

#manage-teams-container {

    background-color: $tertiary-color;
    height: 100%;

    .manage-teams-header {

        height: 100px;
        border-bottom: 1px solid $denary-color;
        position: relative;

        #manage-teams-exit-button {
            @include center( "vertical" );
            right: 36px;
        }

        h1 {
            @include center( "vertical" );
            left: 30px;
            font-size: 24px;
        }

        .settings-nav {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .settings-nav-btn{
                font-size: 16px;
                font-weight: bold;
                color: #d0cfe0;
                transition: color 0.3s ease-in-out;
                margin: 0 25px;

                &.active {
                    color: $text-primary-color;
                }

                &:hover {
                    color: $text-primary-color;
                }
            }
        }

    }

    .manage-teams-body {
        max-width: 870px;
        height: calc( 100% - 100px );
        margin: 0 auto;

    }

    .manage-teams-list-container {
        width: 290px;
        float: left;
        height: 100%;
        padding: 25px;
        border-right: 1px solid $denary-color;

        h1 {
            font-size: 16px;
            font-weight: bold;
            margin: 0 20px 15px;
        }

        .teams-list-container {
            height: 90%;
            overflow: scroll;
        }

        .teams-list-item {
            padding: 10px 15px;
            transition: background-color 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                background-color: $nonary-color;
            }

            &.active {
                background-color: $denary-color;

            }

        }

    }


    .manage-teams-settings-container {
        width: calc( 100% - 290px );
        float: left;
        height: 90%;
        padding: 25px;


        .manage-teams-settings-header {
            overflow: hidden;
        }

        //#manage-teams-delete-team-button {
        //    margin-left: 35px;
        //    color: $senary-color;
        //    background-color: transparent;
        //}

        .scrum-master-list-container {
            width: calc(100% - 145px);
            float: left;
            vertical-align: middle;

            .profile-avatar {
                display: inline-block;
                margin-right: 5px;
            }

            .invite-scrum-master-btn {
                display: inline-block;
                height: 45px;
                width: 45px;
                border: 2px solid #ECECF2;
                background: url("../../style/img/icons/icon-add-accent.svg") no-repeat center;
                border-radius: 25px;
            }
        }

        .delete-team-button {
            cursor: pointer;
            float: right;
            vertical-align: middle;
            margin: 10px 0 0 35px;
            color: $senary-color;
            background-color: transparent;
            width: 110px;
        }




            #manage-teams-input-edit-team-name {

                display: inline-block;
                width: calc( 100% - 135px );
                border-radius: 3px;
                border: 2px solid $denary-color;
                font-size: 24px;
                padding: 0 16px;
                line-height: 70px;
                transition: border 0.2s linear;

                &:focus { border: 2px solid $accent-color; }

            }

            .manage-teams-settings-body {
                height: calc( 100% - 105px );
                clear: both;
            }

            .manage-teams-settings-member-list-header {

                margin: 30px 0 25px;
                position: relative;

                h2 {
                    font-size: 24px;
                    margin-bottom: 12px;
                }

                & > p { color: $text-tertiary-color; }

                #manage-teams-add-member-button {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            
            }

            .manage-teams-settings-member-list-body {

                height: calc( 100% - 75px );

                ul {
                    height: 100%;
                    overflow-y: auto;
                }

                li {

                    line-height: 50px;
                    padding-left: 20px;
                    border-radius: 3px;
                    box-shadow: inset 0 0 0 1px $quinary-color;
                    color: $text-tertiary-color;
                    font-size: 24px;
                    cursor: pointer;
                    position: relative;

                    &:not( :last-child ) { margin-bottom: 5px; }

                    span {
                        display: block;
                        position: absolute;
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        box-shadow: inset 0 0 0 2px $quinary-color;
                        @include center( "vertical" );
                        right: 15px;

                        &::after {
                            content: "";
                            display: none;
                            width: 100%;
                            height: 100%;
                            background: url("../img/icons/icon-checked.svg") no-repeat center / contain;
                        }

                    }

                    &.active {

                        color: $text-primary-color;

                        span::after { display: block; }

                    }

                }

                input {
                    line-height: 50px;
                    padding-left: 20px;
                    border-radius: 3px;
                    box-shadow: inset 0 0 0 1px $quinary-color;
                    color: $text-tertiary-color;
                    font-size: 24px;
                    margin-bottom: 5px;
                    width: 100%;

                    &:focus { box-shadow: inset 0 0 0 1px $accent-color; }
                }

            }

        }

    }

    



