
@import "color-variables";




/** ==================================== HTML5 display definitions ==================================== */

*, *::after, *::before {

  box-sizing: border-box;

  /* Remove background highlight on touch from mobile devices */
  -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );

}


/**
 * Reset browser margins and padding
 */
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote,
address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
}



/**
 * Correct `block` display not defined in IE 8/9.
 */
article, aside, details, figcaption, figure, footer,
header, hgroup, main, nav, section, summary {
  display: block;
}



/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio, canvas, video {
  display: inline-block;
}



/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}



/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}




/** ==================================== Base ==================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}



/** ==================================== Links ==================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */
a {

  background: transparent;
  text-decoration: none;
  color: inherit;
  text-decoration: none;

  /** Improve readability when focused and also mouse hovered in all browsers */
  &:link, :visited, :hover, :active {
    text-decoration: none;
    outline: 0;
  }

  &:hover { cursor: pointer; }

}



/** ==================================== Typography ==================================== */

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}



/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

em {
  font-style: italic;
}



/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}



/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}



/** ==================================== Embedded content ==================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}



/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}



/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  resize: none;
}



/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button, input {
  line-height: normal;
  outline: none;
  border: none;
}



/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button, select {
  text-transform: none;
}



/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  border: none;
}



/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}



/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}




/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {

  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  
  /** Remove inner padding and search cancel button in Safari 5 and Chrome on OS X */
  &::-webkit-search-cancel-button, ::-webkit-search-decoration { -webkit-appearance: none; }

}



/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}



/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}




/** ==================================== Tables ==================================== */

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}



/** ==================================== Clearfix ==================================== */

.clearfix {

  zoom: 1;

  &::before, ::after {
    content:"";
    display: block;
  }

  &::after {
    clear: both;
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    height: 0;
  }

}




/** ==================================== Inputs and buttons ==================================== */

input, textarea, button {
  -webkit-appearance: none;
  border-radius: 0;
}


input:focus, textarea:focus {
  outline: none;
}