
<span class="logo"></span>

<h1>Forgot your password?</h1>

<h2>Don't worry, we got your back. Enter the email address you used when you joined, and we'll send you a password reset link</h2>

<div class="forgot-password-body">

        <div class="input-wrapper">

            <div class="input-group">
        
                <label class="input-label" for="input-email-forgot-password">Email</label>
        
                <div class="input-container input-type-text">
        
                    <input id="input-email-forgot-password" type="text" class="input input-email" placeholder="Enter your email address" spellcheck="false">
        
                    <span class="input-icon"></span>
        
                </div>
        
                <span class="input-error">Some error message</span>
        
            </div>
            <!-- email -->
                
        </div>
            
        <button id="request-reset-link" class="primary-button">Request Reset Link</button>

        <div class="forgot-password-footer">

            <span>Did you remember your password?</span>

            <span id="try-logging-in" class="accent underline pointer noselect">Try logging in</span>

        </div>

        

</div>

