

<span id="logo" class="logo"></span>


<ul id="header-navigation">

    <li id="scrum-page-button" class="pointer noselect active">Scrum</li>
    <li id="impediments-page-button" class="pointer noselect">Impediments</li>

</ul>


<div id="header-profile-wrapper" class="pointer">

    <span id="profile-avatar" class="noselect"></span>

    <span id="profile-dropdown-button" class="noselect"></span>
    
</div>


<div id="header-authentication-fragment" class="button-group">

    <span class="" id="header-auth-message">Don't have an account?</span>

    <button id="header-auth-button" class="primary-button">Sign Up</button>

</div>