


<!--<li class="impediments-unsolved-member-container">-->

    <!--<h3 class="impediments-unsolved-member-name bold">Isabel Estrada</h3>-->

    <!--<ul class="impediments-unsolved-member-impediments">-->

        <!--<li class="impediments-unsolved-member-impediment pointer">New login credentials provided are not valid-->
            <!--<span class="impediments-unsolved-member-impediment-checkbox"></span>-->
        <!--</li>-->

    <!--</ul>-->

<!--</li>-->

<!--<li class="impediments-unsolved-member-container">-->

    <!--<h3 class="impediments-unsolved-member-name bold">Ralph Andrews</h3>-->

    <!--<ul class="impediments-unsolved-member-impediments">-->

        <!--<li class="impediments-unsolved-member-impediment pointer">Waiting for documentation from management-->
            <!--<span class="impediments-unsolved-member-impediment-checkbox"></span>-->
        <!--</li>-->

    <!--</ul>-->

<!--</li>-->

<!--<li class="impediments-unsolved-member-container">-->

    <!--<h3 class="impediments-unsolved-member-name bold">Dustin Reyes</h3>-->

    <!--<ul class="impediments-unsolved-member-impediments">-->

        <!--<li class="impediments-unsolved-member-impediment pointer">Requested access to remove server 2 days ago, no reply yet from support-->
            <!--<span class="impediments-unsolved-member-impediment-checkbox"></span>-->
        <!--</li>-->

        <!--<li class="impediments-unsolved-member-impediment pointer">Code structure needs heavy refactoring to integrate caching-->
            <!--<span class="impediments-unsolved-member-impediment-checkbox"></span>-->
        <!--</li>-->

        <!--<li class="impediments-unsolved-member-impediment pointer">Waiting for Sketch file to implement new onbject feature-->
            <!--<span class="impediments-unsolved-member-impediment-checkbox"></span>-->
        <!--</li>-->

    <!--</ul>-->

<!--</li>-->