

/** Colors */
$accent-color: #6390F6;

$highlight-color: rgba( 255, 255, 255, 0.2 );

$primary-color: #6CB7FF;
$secondary-color: #7985FF;
$tertiary-color: #FFFFFF;
$quaternary-color: #F6F6F9;
$quinary-color: #E1E0E9;
$senary-color: #D00262;
$septenary-color: #62B2FF;
$octonary-color: #6E9AFF;
$nonary-color: #f5f5f8;
$denary-color: #ececf2;



/** Text Colors */
$text-primary-color: #242246;
$text-secondary-color: #242E4C;
$text-tertiary-color: #9B9AA9;
$text-quaternary-color: #605E77;
$text-quinary-color: #000;
$text-senary-color: #000;
$text-septenary-color: #000;
$text-octonary-color: #000;
$text-color-error: #000;



/** Complementary colors */
$primary-complementary-color: #000;
$secondary-complementary-color: #000;
$tertiary-complementary-color: #000;
$quaternary-complementary-color: #000;
$quinary-complementary-color: #000;
$senary-complementary-color: #000;
$septenary-complementary-color: #000;
$octonary-complementary-color: #000;
$nonary-complementary-color: #000;
$denary-complementary-color: #000;



/**  Drop Shadows */
$shadow-primary-color: #000;
$shadow-secondary-color: #000;
$shadow-tertiary-color: #000;
$shadow-quaternary-color: #000;
$shadow-quinary-color: #000;
$shadow-senary-color: #000;
$shadow-septenary-color: #000;
$shadow-octonary-color: #000;
$shadow-nonary-color: #000;
$shadow-denary-color: #000;