

/** ==================================== Normal ==================================== */

@font-face {
  font-family: "Muli";
  src: url( "../fonts/Muli-Regular.ttf" ) format( "truetype" );
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Muli";
  src: url( "../fonts/Muli-Bold.ttf" ) format( "truetype" );
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: "Muli";
  src: url( "../fonts/Muli-SemiBold.ttf" ) format( "truetype" );
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: "Muli";
  src: url( "../fonts/Muli-Light.ttf" ) format( "truetype" );
  font-weight: 300;
  font-style: normal;
}




/** ==================================== Italic ==================================== */

@font-face {
  font-family: "Muli";
  src: url( "../fonts/Muli-Italic.ttf" ) format( "truetype" );
  font-weight: normal;
  font-style: italic;
}


@font-face {
  font-family: "Muli";
  src: url( "../fonts/Muli-SemiBoldItalic.ttf" ) format( "truetype" );
  font-weight: 600;
  font-style: italic;
}


@font-face {
  font-family: "Muli";
  src: url( "../fonts/Muli-LightItalic.ttf" ) format( "truetype" );
  font-weight: 300;
  font-style: italic;
}