

<div id="error-main-container">

    <a id="logo-container" href="/">
        <img class="scrumbs-logo" src="../public/images/scrumbs-logo-colored.svg">
    </a>

    <div class="error-container">

        <div class="card-bg error-card">

            <div class="error-type-style">404</div>
            <div class="error-message">Page Not Found</div>

        </div>

    </div>

    <div id="error-footer">

        <div class="secondary-text">The page you are looking for was moved, removed, renamed or might never existed.</div>

        <div class="button-container">
            <a class="secondary-btn" href="/">Return Home</a>
        </div>

    </div>


</div>