

{{> mobile-menu }}

<div id="navbar">

    <a id="scrumbs-logo" href="/">
        <img class="navbar-logo" src="../public/images/scrumbs-logo-colored.svg">
    </a>

    <div id="downloads-btn">

        <a class="navbar-button-style">Downloads</a>

    </div>


    <div id="authentication-container">

        <div id="sign-in-btn">

            <a class="navbar-button-style">Sign-In</a>

        </div>

        <a id="get-started-btn-navbar" class="primary-button" href="subscribe">Get Alpha Access</a>

    </div>


    <div id="navbar-menu-btn">

        <img class="hamburger-icon" src="../public/images/menu-icon.svg">

    </div>

</div>


<div id="downloads-section">

    <div class="downloads-headline">

        <div class="secondary-title">Download our apps to have access to Scrumbs anywhere you go.</div>

    </div>


    <div id="downloads-container">

        <div id="downloads-card" class="card-bg">

            <div id="windows-app" class="device-type">

                <img class="app-thumbnail" src="../public/images/windows-img-disabled.svg">
                <div class="app-details">

                    <div class="secondary-title-disabled">Scrumbs for Windows</div>
                    <div class="secondary-text-disabled">Windows 7-10 • all editions • x86 and x64</div>

                </div>

                <div class="button-container">
                    <div class="tertiary-button-disabled">Coming soon</div>
                </div>

            </div>

            <div id="mac-app" class="device-type">

                <img class="app-thumbnail" src="../public/images/apple-img-disabled.svg">
                <div class="app-details">

                    <div class="secondary-title-disabled">Scrumbs for MacOS</div>
                    <div class="secondary-text-disabled">Yosemite | El Capitan | Sierra | Mojave • x86 and x64</div>

                </div>

                <div class="button-container">
                    <div class="tertiary-button-disabled">Coming soon</div>
                </div>

            </div>

            <div id="ios-app" class="device-type">

                <img class="app-thumbnail" src="../public/images/apple-img-disabled.svg">
                <div class="app-details">

                    <div class="secondary-title-disabled">Scrumbs for iOS</div>
                    <div class="secondary-text-disabled">Most phones and tablets covered</div>

                </div>

                <div class="button-container">
                    <div class="tertiary-button-disabled">Coming soon</div>
                </div>

            </div>

            <div id="android-app" class="device-type device-type-unavailable">

                <img class="app-thumbnail" src="../public/images/android-img.svg">
                <div class="app-details">

                    <div class="secondary-title-disabled">Scrumbs for Android</div>
                    <div class="secondary-text-disabled">Most phones and tablets covered</div>

                </div>

                <div class="button-container">
                    <div class="tertiary-button-disabled">Coming soon</div>
                </div>

            </div>

            <div id="browser-app" class="device-type">

                <img class="app-thumbnail" src="../public/images/web-img.svg">
                <div class="app-details">

                    <div class="secondary-title">Scrumbs for Web</div>
                    <div class="secondary-text">Most browsers covered</div>

                </div>

                <div class="button-container">
                    <a id="get-started-downloads" class="primary-button" href="subscribe">Get Access</a>
                </div>

            </div>

        </div>



    </div>
    <img class="top-image" src="../public/images/downloads-bubble.svg">
    <img class="bottom-image" src="../public/images/downloads-bubble.svg">

</div>





<div id="footer">

    <div class="bottom-footer">

        <ul class="footer-navigation">
            <li class="footer-menu-item"><a href="terms">Privacy & Terms</a></li>
            <li class="footer-menu-item"><a href="https://www.planeeet.com/contact/" target="_blank">Contact</a></li>
        </ul>

        <div class="source-company">
            <div class="source-label">Powered by</div>
            <a href="http://planeeet.com" target="_blank"><img class="planeeet-logo" src="../public/images/planeeet-logo.svg"></a>
        </div>

        <div class="social-media-buttons-container">

            <a class="social-btn linked-in-btn" href="https://www.linkedin.com/company/planeeet/about/" target="_blank"></a>
            <a class="social-btn twitter-btn" href="https://twitter.com/scrumbsapp" target="_blank"></a>
            <a class="social-btn facebook-btn" href="https://www.facebook.com/planeeeet" target="_blank"></a>

        </div>

    </div>

</div>


<script src="../public/js/mobile-menu.js"></script>