

{{> mobile-menu }}

<div id="navbar">

    <a id="scrumbs-logo" href="/">
        <img class="navbar-logo" src="../public/images/scrumbs-logo-colored.svg">
    </a>

    <div id="downloads-btn">

        <a class="navbar-button-style" href="downloads">Downloads</a>

    </div>


    <div id="authentication-container">

        <div id="sign-in-btn">

            <a class="navbar-button-style" href="https://app.scrumbs.app">Sign-In</a>

        </div>

        <a id="get-started-btn-navbar" class="primary-button" href="https://app.scrumbs.app">Get Started</a>

    </div>


    <div id="navbar-menu-btn">

        <img class="hamburger-icon" src="../public/images/menu-icon.svg">

    </div>

</div>


<div id="above-the-fold" class="clear">

    <div class="left-container">

        <div class="main-title">Tracking your daily scrum meetings has never been easier.</div>
        <div class="primary-text">Scrumbs is a lightweight agile management tool, designed to make the scrum masters life easier. Keep logs of the daily scrum meetings, know what your team is up to, manage impediments, and generate reports. It has never been easier, and we don't charge you a dime.</div>


        <a id="get-started-btn-above-the-fold" class="primary-button" href="https://app.scrumbs.app">Try it for Free</a>


        <div id="sign-in-option" class="secondary-text">Already have an account? <a class="link" href="https://app.scrumbs.app">Sign In.</a></div>

    </div>

    <div class="right-container cover-image"></div>

</div>


<div id="features">

    <div id="logs-feature-card" class="feature-card ">

        <img class="feature-card-icon" src="../public/images/logs-icon.svg">

        <div class="secondary-title">Logs</div>
        <div class="secondary-text card-description">Keep logs of your daily stand-up meetings. Easily track what each person in your team has been up to.</div>

    </div>

    <div id="blockers-feature-card" class="feature-card">

        <img class="feature-card-icon" src="../public/images/blocker-icon.svg">

        <div class="secondary-title">Impediments</div>
        <div class="secondary-text card-description">Create and manage impediments. Keep an eye on what is slowing the development process.</div>

    </div>


    <div id="integrations-feature-card" class="feature-card">

        <img class="feature-card-icon" src="../public/images/integrations-icon.svg">

        <div class="secondary-title">Integrations</div>
        <div class="secondary-text card-description">Scrumbs works with agile tools you already use. Forward your data without ever leaving the app.</div>

    </div>

    <div id="reports-feature-card" class="feature-card">

        <img class="feature-card-icon" src="../public/images/reports-icon.svg">

        <div class="secondary-title">Reports</div>
        <div class="secondary-text card-description">Generate reports of logs and impediments in the system, make better decisions based on your data.</div>

    </div>

</div>



<div id="section-1">

    <div class="left-container left-ui"></div>

    <div class="right-container right-description">

        <div class="main-title">Bringing you the best experience.</div>
        <div class="primary-text">Scrumbs was designed to provide the best possible experience through simplicity and style. Our main objective was to make something that not only looks good, but feels great to use.</div>

    </div>

</div>


<div id="section-2">

    <div class="left-container left-description">

        <div class="main-title">Easy access from anywhere.</div>
        <div class="primary-text">Scrumbs' software architecture was born as a passion project. It allows it to run on most mobile devices, browsers and desktops, providing the same experience across multiple platforms.</div>

        <div class="download-btn-container">

            <div class="download-btn">
                <img class="btn-logo" src="../public/images/windows-logo.svg">
                <div class="secondary-btn-label">Coming soon</div>
            </div>

            <div class="download-btn">
                <img class="btn-logo" src="../public/images/mac-logo.svg">
                <div class="secondary-btn-label">Coming soon</div>
            </div>

            <div class="download-btn">
                <img class="btn-logo" src="../public/images/ios-logo.svg">
                <div class="secondary-btn-label">Coming soon</div>
            </div>

            <div class="download-btn">
                <img class="btn-logo" src="../public/images/android-logo.svg">
                <div class="secondary-btn-label">Coming soon</div>
            </div>

        </div>

    </div>

    <div class="right-container right-ui"></div>

</div>


<div id="footer">

    <div class="top-footer">

        <div class="footer-logo">

            <img src="../public/images/scrumbs-logo-white.svg">

        </div>

        <div id="footer-description" class="main-title">Tracking your daily scrum meetings easier.</div>

        <div class="secondary-btn">
            <a class="secondary-btn-label" href="https://app.scrumbs.app">Get started</a>
        </div>

        <div class="info-text">No credit card required.</div>

    </div>

    <div class="bottom-footer">

        <ul class="footer-navigation">
            <li class="footer-menu-item"><a href="terms">Privacy & Terms</a></li>
            <li class="footer-menu-item"><a href="contact">Contact</a></li>
        </ul>

        <div class="source-company">
            <div class="source-label">Powered by</div>
            <a href="https://www.boardme.app" target="_blank"><img class="boardme-logo" src="../public/images/boardme-blue.svg"></a>
        </div>

        <div class="social-media-buttons-container">

            <a class="social-btn linked-in-btn" href="https://www.linkedin.com/company/scrumbs" target="_blank"></a>
            <a class="social-btn twitter-btn" href="https://twitter.com/scrumbsapp" target="_blank"></a>
            <a class="social-btn facebook-btn" href="https://www.facebook.com/scrumbsapp" target="_blank"></a>

        </div>

    </div>

</div>


<script src="../public/js/mobile-menu.js"></script>

<span id="boardme:landing"></span>