

<a id="subscribe-navbar" href="/">

    <div id="subscribe-scrumbs-logo">
        <img class="subscribe-navbar-logo" src="../public/images/scrumbs-logo-colored.svg">
    </div>

</a>

<div id="subscribe-container">

    <div id="subscribe-inner-container">

        <div class="subscribe-headline-container">

            <div class="main-title">Subscribe to get alpha access!</div>
            <div class="secondary-text subscribe-description">We are working on releasing Scrumbs as you are reading this message. Enter your name and email below, to get early access to the product during our soft launch period!</div>

        </div>

        <div id="subscribe-form-container" class="subscribe-form-container">

            <div id="subscribe-form-inner-container" class="card-bg">

                <div id="subscribe-form" class="subscribe-for-alpha">

                    <div class="input-container">

                        <label for ="subscriber-name">Name</label>
                        <input type="text" id="subscriber-name" class="input-basic-style-icon" name="Name" placeholder="Enter your name" required>
                        <p id="name-input-error" class="input-error-message">Please enter your name in the input field above.</p>

                    </div>

                    <div class="input-container">

                        <label for ="subscriber-email">Email</label>
                        <input type="text" id="subscriber-email" class="input-basic-style-icon" name="Name" placeholder="Enter your email address" required>
                        <p id="email-input-error" class="input-error-message">Please enter a valid email address to subscribe.</p>

                    </div>

                    <div class="subscribe-info">By clicking "Subscribe" I agree to Scrumbs’ <a class="link" href="terms" target="_blank">Terms of Service</a>.</div>

                    <input type="button" id="subscribe-button" class="primary-button full-width-primary-button subscribe-form-button" value="Subscribe">

                    <div class="secondary-text">If you want to check in on the development process, you are welcome to take a peek on

                        <a href="https://github.com/gasparandr/scrumbs" target="_blank"><img src="../public/images/github-logo.svg"></a>.

                    </div>

                </div>




            </div>

        </div>

    </div>

</div>

<div id="subscribed-feedback" class="subscription-feedback">

    <div class="main-title subscription-title">Thank you for your interest!</div>
    <div class="secondary-text">You are going to receive a confirmation to your email address in the shortest time possible, and you will be among the first few to get notified of our soft launch.</div>

    <a id="subscribed-home-button" class="primary-button go-home-button" href="/">Back to Home Page</a>

</div>

<div id="already-subscribed-feedback" class="subscription-feedback">

    <div class="main-title subscription-title">The email you entered is already Subscribed!</div>
    <div class="secondary-text">You will be amongst the first few to get notified of our soft launch! If you want to check in on the development process, you are welcome to take a peek on

        <a href="https://github.com/gasparandr/scrumbs-containerized" target="_blank"><img src="../public/images/github-logo.svg"></a>.

        <a id="already-subscribed-home-button" class="primary-button go-home-button" href="/">Back to Home Page</a>

    </div>


</div>


<div id="footer">

    <div class="bottom-footer bottom-footer-mobile-margin">

        <ul class="footer-navigation">
            <li class="footer-menu-item"><a href="terms">Privacy & Terms</a></li>
            <li class="footer-menu-item"><a href="contact">Contact</a></li>
        </ul>

        <div class="source-company">
            <div class="source-label">Powered by</div>
            <a href="https://www.boardme.app" target="_blank"><img class="boardme-logo" src="../public/images/boardme-blue.svg"></a>
        </div>

        <div class="social-media-buttons-container">

            <a class="social-btn linked-in-btn" href="https://www.linkedin.com/company/scrumbs" target="_blank"></a>
            <a class="social-btn twitter-btn" href="https://twitter.com/scrumbsapp" target="_blank"></a>
            <a class="social-btn facebook-btn" href="https://www.facebook.com/planeeeet" target="_blank"></a>

        </div>

    </div>



</div>


<script src="../public/js/subscribe.js"></script>