
<div id="unsubscribed-container" class="card-bg">

    <a href="https://www.scrumbs.app/index.html"><img class="subscribe-navbar-logo" src="../public/images/scrumbs-logo-colored.svg"></a>

    <div class="secondary-title">Successfully unsubscribed!</div>

    <div class="secondary-text">You successfully unsubscribed from the Scrumbs alpha release.<br><br>
        It is hard to see you leave! If you change your mind, or you clicked the link by mistake, you can use the link below to subscribe!</div>

    <div class="button-container"><a class="primary-button" href="/subscribe">Subscribe</a></div>


    <div class="unsubscribe-footer">

        <div class="source-company">
            <div class="source-label">Powered by</div>
            <a href="http://planeeet.com" target="_blank"><img class="planeeet-logo" src="../public/images/planeeet-logo.svg"></a>
        </div>

        <ul class="footer-navigation">
            <li class="footer-menu-item"><a href="https://www.scrumbs.app/terms.html" target="_blank">Privacy & Terms</a></li>
            <li class="footer-menu-item"><a href="http://planeeet.com" target="_blank">Contact</a></li>
        </ul>


    </div>


</div>